
.footer-link {
    font-size: 13.5px;
    display: block;
    color: #858585;
    fill: #858585;
    margin-bottom: 10px;
    cursor: pointer;
 }
 
 .footer-statistic-number {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    margin-right: 20px;
    color: black;
    width: 22%;
 }