
<div style=" box-shadow: 0 0 10px rgb(0 0 0 / 20%)">
    <div class="container" style="margin-top: 5%;   padding-top: 3%;
    ">

        <ul style="display: flex;justify-content: space-around;">
            <li style="display: flex;flex-direction: column;">
                <div><span style="letter-spacing: .5px;
                    color: #2367ba;
                    cursor: pointer;font-size:32px;font-weight:600">Hotelmix</span> <span style="color: #c9322c;
            font-size: 32px;
            font-weight: 600;">.</span>
                    <span style="letter-spacing: .5px;
                    color: #2367ba;
                    cursor: pointer;font-size:32px;font-weight:600">fr</span></div>
                <div fxLayout="row" style="padding-bottom: 20px;margin-top:15px">

                    <div class="footer-statistic-number">
                        50+
                    </div>
                    <div fxLayout="column">
                        <div style="    font-size: 16px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: black;">FOURNISSEURS</div>
                        <div style="font-size: 10px;
                        text-transform: uppercase;
                        color: #858585;
                        display: block;">OFFRANT LA DISPONIBILITÉ IMBATTABLE ET TARIFS</div>

                    </div>
                </div>

                <div fxLayout="row" style="padding-bottom: 20px;">

                    <div class="footer-statistic-number">
                        400k
                    </div>
                    <div fxLayout="column">
                        <div style="    font-size: 16px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: black;">HÉBERGEMENTS</div>
                        <div style="font-size: 10px;
                        text-transform: uppercase;
                        color: #858585;
                        display: block;">RÉPONDANT AUX NORMES DE FIABILITÉ ET DE QUALITÉ</div>

                    </div>
                </div>
                <div fxLayout="row" style="padding-bottom: 20px;">

                    <div class="footer-statistic-number">
                        120k
                    </div>
                    <div fxLayout="column">
                        <div style="    font-size: 16px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: black;">CLIENTS</div>
                        <div style="font-size: 10px;
                        text-transform: uppercase;
                        color: #858585;
                        display: block;">VOYAGEANT AVEC NOUS AUTOUR DU MONDE</div>

                    </div>
                </div>


            </li>
            <li>

                <div style="display: flex;flex-direction: column;">
                    <div style="display: block;
                    font-size: 16px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    font-weight: 600;
                    line-height: 20px;
                    color: black;">COMPAGNIE</div>
                    <div class="footer-link">
                        À propos de nous</div>
                    <div class="footer-link">Soutien</div>
                    <div class="footer-link">FAQ</div>
                    <div class="footer-link">Conditions Générales</div>
                    <div class="footer-link">Politique de confidentialité</div>
                    <div class="footer-link" style="position: relative;">Service de navette <span
                            class="category-link-token" style="    position: absolute;
                        top: -1px;
                        right: 18px;
                        border-radius: 7px;
                        background-color: #3988df;
                        padding: 1px 9px;
                        color: #fff;
                        font-size: 8px;
                        text-transform: uppercase;
                        height: 12px;
                        padding-top: -19px;
                        vertical-align: middle;
                        display: flex;
                        align-items: center;">nouveau</span></div>

                </div>
            </li>
            <li>
                <div style="display: flex;flex-direction: column;">
                    <div style="display: block;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 20px;
        color: black;">DESTINATIONS</div>
                    <div class="footer-link">Pays</div>
                    <div class="footer-link">Villes</div>
                    <div class="footer-link">Les villes les plus recherchées</div>
                    <div class="footer-link">Aéroports</div>
                    <div class="footer-link">Régions</div>
                    <div class="footer-link">Quartiers</div>
                    <div class="footer-link">Points de repère</div>
                    <div class="footer-link">France</div>
                    <div class="footer-link">Espagne</div>
                    <div class="footer-link"> Italie</div>
                    <div class="footer-link">États-Unis</div>
                    <div class="footer-link">Toutes les destinations</div>


                </div>


            </li>
            <li>
                <div style="display: flex;flex-direction: column;">
                    <div style="display: block;
                    font-size: 16px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    font-weight: 600;
                    line-height: 20px;
                    color: black;">
                        CONTACTEZ NOUS
                    </div>
                    <div class="footer-link"><svg viewBox="0 0 14.3 14.1" id="ic_phone_gray" style="width: 16px;
                        height: 16px;
                        fill: #858585;
                        display: inline-block;margin-right: 8px;">

                            <path class="st0"
                                d="M14.1,11c0-0.1-0.3-0.3-0.8-0.5c-0.1-0.1-0.3-0.2-0.5-0.3s-0.4-0.2-0.6-0.4s-0.4-0.2-0.5-0.3
                            c0,0-0.1-0.1-0.3-0.2S11.1,9.1,11,9.1S10.8,9,10.7,9s-0.3,0.1-0.5,0.3S9.9,9.7,9.7,9.9s-0.3,0.4-0.5,0.6s-0.3,0.3-0.5,0.3
                            c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.2-0.1-0.2-0.1s-0.2,0-0.3-0.1s-0.2-0.1-0.2-0.1C6.9,9.9,6.1,9.3,5.5,8.7S4.2,7.2,3.7,6.3
                            c0,0,0-0.1-0.1-0.2C3.5,6,3.5,5.9,3.5,5.9S3.4,5.8,3.4,5.7S3.3,5.5,3.3,5.5c0-0.1,0.1-0.3,0.3-0.5S4,4.6,4.2,4.5
                            c0.2-0.2,0.4-0.4,0.6-0.6C5,3.7,5.1,3.5,5.1,3.4s0-0.2-0.1-0.3C5,3,5,2.9,4.9,2.8S4.7,2.5,4.7,2.5C4.6,2.3,4.5,2.2,4.4,2
                            S4.1,1.6,4,1.3C3.9,1.1,3.8,0.9,3.7,0.8C3.5,0.3,3.3,0.1,3.2,0c0,0-0.1,0-0.2,0C2.8,0,2.6,0,2.3,0.1S1.7,0.2,1.6,0.3
                            C1.2,0.5,0.9,0.9,0.5,1.5C0.2,2.2,0,2.8,0,3.4c0,0.2,0,0.4,0,0.5s0.1,0.4,0.1,0.6C0.2,4.7,0.3,4.9,0.3,5s0.1,0.3,0.2,0.6
                            C0.6,5.8,0.7,6,0.7,6c0.2,0.7,0.5,1.2,0.8,1.8C2,8.7,2.8,9.5,3.7,10.5s1.8,1.6,2.7,2.2c0.5,0.3,1.1,0.6,1.8,0.8
                            c0.1,0,0.2,0.1,0.5,0.2c0.3,0.1,0.5,0.2,0.6,0.2S9.6,14,9.8,14c0.2,0.1,0.4,0.1,0.6,0.1c0.2,0,0.4,0,0.5,0c0.6,0,1.2-0.2,1.9-0.5
                            c0.7-0.4,1.1-0.7,1.2-1.1c0.1-0.2,0.1-0.4,0.2-0.7c0.1-0.3,0.1-0.5,0.1-0.7C14.1,11.1,14.1,11,14.1,11z">
                            </path>
                        </svg> +44 113 467 9515

                    </div>
                    <div class="footer-link"> <svg viewBox="0 0 14 11" id="ic_mail_gray" style="width: 16px;
                        height: 16px;
                        fill: #858585;
                        display: inline-block;margin-right: 8px;">

                            <path class="st0" d="M9.3,6.9C9,7.1,8.8,7.3,8.6,7.4S8.2,7.7,7.9,7.8S7.3,8,7,8l0,0C6.7,8,6.4,7.9,6.1,7.8S5.6,7.6,5.4,7.4
                            S5,7.1,4.7,6.9C4,6.4,2.7,5.5,0.8,4.2C0.5,4,0.2,3.8,0,3.5v6.2c0,0.3,0.1,0.6,0.4,0.9S0.9,11,1.3,11h11.5c0.3,0,0.6-0.1,0.9-0.4
                            S14,10.1,14,9.8V3.5c-0.2,0.3-0.5,0.5-0.8,0.7C11.5,5.4,10.2,6.3,9.3,6.9z"></path>
                            <path class="st0" d="M1.3,3.4C1.5,3.5,2,3.9,2.9,4.5s1.6,1.1,2,1.4C5,6,5.2,6,5.3,6.2s0.3,0.2,0.4,0.3S6,6.6,6.2,6.7
                            s0.3,0.2,0.4,0.2S6.9,7,7,7l0,0c0.1,0,0.3,0,0.4-0.1s0.3-0.1,0.4-0.2s0.3-0.2,0.4-0.3s0.3-0.2,0.4-0.3S9,6,9,5.9
                            c0.5-0.3,1.7-1.2,3.7-2.5c0.4-0.3,0.7-0.6,1-1S14,1.7,14,1.3c0-0.3-0.1-0.6-0.4-0.9S13.1,0,12.8,0H1.3c-0.5,0-0.8,0.1-1,0.4
                            S0,1,0,1.4c0,0.3,0.1,0.7,0.4,1.1S1,3.2,1.3,3.4z"></path>
                        </svg>support@booked.net

                    </div>
                    <div class="footer-link"> <svg viewBox="0 0 9 17" id="ic_facebook" style="width: 16px;
                        height: 16px;
                        fill: #858585;
                        display: inline-block;margin-right: 8px;">

                            <path class="st0" d="M5.9,3.1c0.2-0.2,0.6-0.4,1.2-0.4h1.6V0.1C8.1,0,7.4,0,6.4,0C5.2,0,4.3,0.3,3.6,1c-0.7,0.7-1,1.7-1,2.9v2.2H0v3
                            h2.6v7.6h3.1V9.1h2.6l0.4-3H5.6V4.2C5.6,3.7,5.7,3.4,5.9,3.1z"></path>
                        </svg>facebook

                    </div>
                    <div class="footer-link"><svg viewBox="0 0 15.4 15.4" id="ic_insta" style="width: 16px;
                        height: 16px;
                        fill: #858585;
                        display: inline-block;margin-right: 8px;">

                            <path class="st0"
                                d="M15.4,4.5c-0.1-1.4-0.5-2.5-1.2-3.2c-0.8-0.8-1.8-1.2-3.2-1.2C10.3,0,9.2,0,7.7,0S5.1,0,4.5,0.1
                            C3.1,0.1,2.1,0.5,1.3,1.3C0.5,2.1,0.1,3.1,0.1,4.5C0,5.1,0,6.2,0,7.7c0,1.5,0,2.6,0.1,3.2c0.1,1.4,0.5,2.5,1.2,3.2
                            c0.8,0.8,1.8,1.2,3.2,1.2c0.6,0,1.7,0.1,3.2,0.1s2.6,0,3.2-0.1c1.4-0.1,2.5-0.5,3.2-1.2c0.8-0.8,1.2-1.8,1.2-3.2
                            c0-0.6,0.1-1.7,0.1-3.2C15.4,6.2,15.4,5.1,15.4,4.5z M14,8.5c0,0.5,0,0.8,0,1.1c0,0.2,0,0.6,0,1c0,0.4-0.1,0.8-0.1,1
                            s-0.1,0.5-0.2,0.7c-0.1,0.3-0.3,0.6-0.6,0.9s-0.5,0.4-0.9,0.6c-0.2,0.1-0.4,0.1-0.7,0.2c-0.3,0.1-0.6,0.1-1,0.1c-0.4,0-0.7,0-1,0
                            s-0.6,0-1.1,0c-0.5,0-0.7,0-0.8,0s-0.3,0-0.8,0s-0.8,0-1.1,0s-0.6,0-1,0c-0.4,0-0.8-0.1-1-0.1c-0.3-0.1-0.5-0.1-0.7-0.2
                            c-0.3-0.1-0.6-0.3-0.9-0.6s-0.4-0.5-0.6-0.9c-0.1-0.2-0.1-0.4-0.2-0.7s-0.1-0.6-0.1-1c0-0.4,0-0.7,0-1c0-0.2,0-0.6,0-1.1
                            c0-0.5,0-0.7,0-0.8s0-0.3,0-0.8c0-0.5,0-0.8,0-1.1c0-0.2,0-0.6,0-1c0-0.4,0.1-0.8,0.1-1s0.1-0.5,0.2-0.7C1.8,2.8,2,2.5,2.3,2.3
                            C2.5,2,2.8,1.8,3.2,1.7c0.2-0.1,0.4-0.1,0.7-0.2s0.6-0.1,1-0.1c0.4,0,0.7,0,1,0c0.2,0,0.6,0,1.1,0c0.5,0,0.7,0,0.8,0s0.3,0,0.8,0
                            c0.5,0,0.8,0,1.1,0c0.2,0,0.6,0,1,0s0.8,0.1,1,0.1s0.5,0.1,0.7,0.2c0.3,0.1,0.6,0.3,0.9,0.6c0.3,0.3,0.4,0.5,0.6,0.9
                            c0.1,0.2,0.1,0.4,0.2,0.7s0.1,0.6,0.1,1c0,0.4,0,0.7,0,1c0,0.2,0,0.6,0,1.1s0,0.7,0,0.8S14,8,14,8.5z">
                            </path>
                            <path class="st0"
                                d="M11.8,2.7c-0.3,0-0.5,0.1-0.7,0.3c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.3,0.1,0.5,0.3,0.7c0.2,0.2,0.4,0.3,0.7,0.3
                            s0.5-0.1,0.7-0.3c0.2-0.2,0.3-0.4,0.3-0.7c0-0.3-0.1-0.5-0.3-0.7C12.3,2.8,12.1,2.7,11.8,2.7z">
                            </path>
                            <path class="st0" d="M7.7,3.8c-1.1,0-2,0.4-2.8,1.2C4.1,5.7,3.8,6.6,3.8,7.7s0.4,2,1.2,2.8c0.8,0.8,1.7,1.2,2.8,1.2s2-0.4,2.8-1.2
                            s1.2-1.7,1.2-2.8s-0.4-2-1.2-2.8C9.7,4.1,8.8,3.8,7.7,3.8z M9.5,9.5C9,10,8.4,10.3,7.7,10.3S6.4,10,5.9,9.5C5.4,9,5.1,8.4,5.1,7.7
                            s0.3-1.3,0.8-1.8C6.4,5.4,7,5.1,7.7,5.1S9,5.4,9.5,5.9C10,6.4,10.3,7,10.3,7.7S10,9,9.5,9.5z">
                            </path>
                        </svg>
                        instagram
                    </div>
                    <div class="footer-link"><svg viewBox="0 0 15.8 12.9" id="ic_tweeter" style="width: 16px;
                        height: 16px;
                        fill: #858585;
                        display: inline-block;margin-right: 8px;">

                            <path class="st0" d="M15.8,1.5C15.2,1.8,14.6,2,14,2c0.7-0.4,1.2-1,1.4-1.8c-0.6,0.4-1.3,0.6-2.1,0.8c-0.6-0.7-1.4-1-2.4-1
                            C10,0,9.2,0.3,8.6,0.9S7.7,2.3,7.7,3.2c0,0.2,0,0.5,0.1,0.7C6.5,3.9,5.2,3.6,4.1,3C2.9,2.4,2,1.6,1.1,0.6c-0.3,0.5-0.4,1-0.4,1.6
                            s0.1,1.1,0.4,1.5c0.3,0.5,0.6,0.9,1.1,1.2c-0.5,0-1-0.2-1.5-0.4l0,0c0,0.8,0.2,1.5,0.7,2.1s1.1,1,1.9,1.1C3,7.8,2.7,7.9,2.4,7.9
                            c-0.2,0-0.4,0-0.6-0.1C2,8.5,2.4,9,2.9,9.4C3.5,9.8,4.1,10,4.8,10c-1.2,0.9-2.5,1.4-4,1.4c-0.3,0-0.5,0-0.8,0c1.5,1,3.2,1.5,5,1.5
                            c1.2,0,2.2-0.2,3.2-0.5c1-0.4,1.9-0.9,2.6-1.5s1.3-1.3,1.9-2.1c0.5-0.8,0.9-1.6,1.2-2.5s0.4-1.7,0.4-2.6c0-0.2,0-0.3,0-0.4
                            C14.8,2.7,15.4,2.2,15.8,1.5z"></path>
                        </svg>
                        twitter
                    </div>
                </div>
            </li>
        </ul>

        <div class="footer__payment-systems js-footer-slider" style="display: flex;justify-content: center;    margin: 3%;margin-bottom: 0%;
        padding: 30px;
        border-top: 1px solid #ededed;">
            <div style="padding: 0 2%;"><svg viewBox="0 0 66 22" id="visa" style="    width: 70px;
                height: 30px;">
                    <g fill="none" fill-rule="nonzero">
                        <path fill="#00579F"
                            d="M28.534 21.598h-5.31l3.32-20.95h5.31zM47.781 1.16C46.734.735 45.073.266 43.02.266c-5.244 0-8.936 2.853-8.958 6.932-.044 3.009 2.643 4.68 4.653 5.683 2.054 1.026 2.752 1.695 2.752 2.609-.02 1.403-1.66 2.05-3.188 2.05-2.12 0-3.256-.333-4.982-1.114l-.7-.335-.742 4.703c1.245.579 3.54 1.092 5.921 1.115 5.572 0 9.199-2.809 9.242-7.155.02-2.385-1.398-4.212-4.457-5.706-1.857-.958-2.995-1.605-2.995-2.585.022-.892.962-1.805 3.059-1.805 1.726-.045 2.994.378 3.955.802l.48.222.722-4.524zM54.838 14.176c.437-1.204 2.12-5.862 2.12-5.862-.022.045.436-1.226.698-2.006l.371 1.805s1.006 5.015 1.224 6.063h-4.413zM61.392.647h-4.107c-1.267 0-2.229.379-2.775 1.739l-7.887 19.211h5.571l1.115-3.142h6.817c.152.735.633 3.142.633 3.142h4.916L61.392.647zM18.79.647l-5.2 14.286-.569-2.897c-.961-3.343-3.976-6.976-7.34-8.782l4.762 18.321h5.615L24.404.647h-5.615z">
                        </path>
                        <path fill="#FAA61A"
                            d="M8.761.647H.218l-.087.424C6.795 2.809 11.208 7 13.021 12.037l-1.857-9.629C10.858 1.07 9.92.691 8.761.648z">
                        </path>
                    </g>
                </svg></div>
            <div style="padding: 0 2%;"><svg viewBox="0 0 115 43" id="american-express" style="    width: 70px;
                height: 30px;">
                    <path fill="#1C8CDE" fill-rule="evenodd"
                        d="M111.507 30.186c1.004 1.024 1.465 2.282 1.465 3.971 0 3.647-2.485 5.826-6.657 5.826h-5.735a2.025 2.025 0 0 1-1.87-1.217c-1.116.779-2.6 1.217-4.427 1.217h-5.735a2.04 2.04 0 0 1-.884-.216 2.047 2.047 0 0 1-.882.216h-9.83c-.324 0-.62-.092-.897-.225-.27.137-.568.225-.896.225h-2.954c-1.125 0-2.038-.893-2.038-1.998V36.22c.006-.171.006-.429-.003-.648a9.339 9.339 0 0 0-.6-.018h-1.109v2.431c0 1.103-.91 1.998-2.038 1.998h-2.96c-1.123 0-2.035-.893-2.035-1.998v-3.084c-1.045.614-2.486 1.015-4.476 1.015H55.31v2.07c0 1.102-.91 1.997-2.037 1.997H47.55c-.58 0-1.137-.241-1.522-.671l-2.134-2.36-2.247 2.391c-.387.41-.925.645-1.493.645H28.49c-1.122 0-2.034-.896-2.034-2.003V25.863c0-1.106.91-2.001 2.034-2.001h11.841c.582 0 1.131.238 1.514.665l2.14 2.34 2.23-2.366c.386-.41.924-.64 1.492-.64h9.407c2.059 0 3.507.45 4.543 1.114a2.024 2.024 0 0 1 1.799-1.113h6.801c1.562 0 3.078.059 4.503.806.148.089.25.202.39.299a2.029 2.029 0 0 1 1.799-1.105h9.826c.761 0 1.401.428 1.75 1.045.975-.648 2.254-1.045 3.878-1.045h5.903c.883 0 1.614.562 1.896 1.337 1.007-.802 2.395-1.337 4.233-1.337h5.901c1.123 0 2.037.895 2.037 2.001v2.581c0 .706-.373 1.326-.934 1.68.023.02.046.04.068.062zM45.82 31.942l4.523-4.777v9.717l-4.523-4.94zm-14.39-3.575v.002h7.382l3.22 3.53-3.365 3.558h-7.237v-2.41h6.463V30.57H31.43v-2.203zm30.648 1.488c0-3.356-2.626-3.996-4.963-3.996h-9.407l-3.747 3.975-3.629-3.975h-11.84v12.126h11.664l3.771-4.013 3.627 4.013h5.724v-4.069h3.672c2.575.003 5.128-.695 5.128-4.06zm11.153 2.497c.772-.304 2.088-1.292 2.088-3.226 0-1.383-.585-2.141-1.514-2.693-.97-.507-2.053-.57-3.542-.57h-6.801v12.122h2.958v-4.424h3.146c1.079 0 1.733.102 2.16.536.552.565.48 1.643.48 2.373v1.515h2.954v-2.404c-.014-1.068-.072-1.618-.489-2.21-.25-.357-.786-.783-1.44-1.02zm13.549-6.489h-9.827v12.122h9.827v-2.514l-6.896-.014V33.05h6.726v-2.474h-6.726V28.37h6.896v-2.506zm12.123 8.294c0-1.244-.305-1.986-.883-2.567-.664-.662-1.765-.936-3.36-.978l-1.585-.046c-.5 0-.833-.03-1.147-.137-.37-.137-.643-.445-.643-.904 0-.384.12-.675.443-.874.296-.195.646-.22 1.182-.22h5.401v-2.575h-5.9c-3.09 0-4.211 1.845-4.211 3.608 0 3.833 3.45 3.66 6.2 3.749.517 0 .822.084 1.05.269.206.17.358.446.358.8 0 .329-.142.606-.343.792-.25.23-.647.3-1.203.3h-5.708v2.605h5.735c2.959.006 4.614-1.211 4.614-3.822zm12.035 0c0-1.244-.31-1.986-.884-2.567-.663-.662-1.765-.936-3.365-.978l-1.58-.046c-.503 0-.834-.03-1.148-.137-.367-.137-.643-.445-.643-.904 0-.384.118-.675.446-.874.291-.195.639-.22 1.179-.22h5.4v-2.575h-5.902c-3.089 0-4.21 1.845-4.21 3.608 0 3.833 3.447 3.66 6.201 3.749.517 0 .823.084 1.049.269.207.17.36.446.36.8 0 .329-.145.606-.347.792-.247.23-.643.3-1.2.3h-5.71v2.605h5.736c2.962.006 4.618-1.211 4.618-3.822zm-53.823-5.79c1.067 0 1.8.426 1.8 1.488 0 1.046-.703 1.6-1.836 1.6h-3.801v-3.088h3.837zm14.34.223c.38.194.606.568.611 1.09 0 .52-.226.937-.608 1.164-.396.23-.885.249-1.459.249h-3.579v-2.724h3.629c.52 0 1.047.011 1.405.221zm-44.548-9.465a2.037 2.037 0 0 1-1.86-1.192l-.385-.86v.048c0 1.104-.909 2.001-2.034 2.001h-5.99c-.827 0-1.57-.49-1.883-1.24l-.613-1.464H10.73l-.622 1.472a2.035 2.035 0 0 1-1.874 1.235h-3.2a2.046 2.046 0 0 1-1.699-.9 1.972 1.972 0 0 1-.169-1.89l5.27-12.12a2.038 2.038 0 0 1 1.87-1.213h4.373c.814 0 1.55.477 1.871 1.21l1.104 2.534V5.002c0-1.104.91-2 2.034-2h4.808c.788 0 1.512.454 1.847 1.163L28.27 8.28l1.749-4.057a2.035 2.035 0 0 1 1.869-1.22h4.908c.414 0 .774.15 1.098.358.322-.208.682-.359 1.098-.359h9.835c.382 0 .719.13 1.02.309.307-.178.639-.309 1.021-.309h6.773c1.753 0 3.202.06 4.586.846.144.082.24.19.365.281a2.032 2.032 0 0 1 1.812-1.127h3.007c1.016 0 1.82.745 1.972 1.7 1.319-1.124 3.113-1.7 5.528-1.7h2.848c.458 0 .88.147 1.22.397a2.038 2.038 0 0 1 1.213-.397h4.415c.811 0 1.546.479 1.865 1.213l1.081 2.489V5.002c0-1.104.91-2 2.036-2h4.489c.708 0 1.367.368 1.74.966l1.396 2.284V5c0-1.104.908-2 2.038-2h3.013c1.121 0 2.034.896 2.034 2v12.121c0 1.104-.909 2.001-2.034 2.001h-4.17a2.049 2.049 0 0 1-1.747-.966l-1.806-2.948v1.913c0 1.104-.908 2.001-2.033 2.001h-5.992a2.03 2.03 0 0 1-1.878-1.232l-.624-1.472h-3.39l-.6 1.453a2.028 2.028 0 0 1-1.878 1.254h-3.45c-1.309 0-3.658-.234-5.33-1.614-.19.913-.97 1.614-1.956 1.614h-3.007c-.335 0-.638-.1-.921-.242-.278.139-.578.242-.913.242H59.6c-1.117 0-2.028-.888-2.036-1.987l-.012-1.528.005-.267c0-.162.004-.405-.01-.611a8.84 8.84 0 0 0-.571-.016H55.85v2.407c0 1.105-.91 2.002-2.034 2.002h-2.948c-.382 0-.716-.132-1.021-.31-.301.178-.638.31-1.02.31h-9.835c-.416 0-.776-.155-1.098-.36-.324.205-.684.36-1.098.36h-3.018c-1.125 0-2.035-.895-2.035-2v-.05l-.39.858a2.034 2.034 0 0 1-1.86 1.194l-2.587-.002zM82.33 7.062l2.043 4.831h-4.065l2.022-4.83zM68.85 11.154c0 2.203.536 3.598 1.578 4.628 1.025 1.028 2.834 1.339 4.265 1.339h3.448l1.107-2.702h6.12l1.147 2.702h5.994V8.025l5.585 9.096h4.171V5h-3.013v8.442L94.078 5h-4.489v11.464L84.607 5h-4.415l-4.159 9.53h-1.32c-.77 0-1.596-.143-2.052-.624-.551-.613-.812-1.548-.812-2.846 0-1.27.346-2.234.846-2.744.583-.562 1.19-.718 2.267-.718h2.788V5h-2.846c-2.031 0-3.525.446-4.473 1.411-1.26 1.302-1.58 2.946-1.58 4.743zm6.12-1.556c-.69 0-.762.071-.847.151-.027.039-.235.476-.235 1.315 0 .832.136 1.231.235 1.411.103.028.294.06.58.06l1.275-2.934-1.008-.003zM64.404 17.12h3.007V5h-3.007v12.121zm-5.558-7.152c-.409.239-.887.247-1.455.247h-3.58V7.527h3.628c.508 0 1.046.025 1.396.22.381.176.616.55.616 1.07 0 .528-.226.956-.605 1.152zm-7.98 7.152h2.947v-4.409h3.157c1.061 0 1.718.093 2.147.517.536.586.465 1.633.465 2.361l.013 1.529h2.97V14.74c0-1.082-.07-1.62-.488-2.223-.262-.351-.81-.777-1.456-1.02.763-.299 2.072-1.3 2.072-3.23 0-1.353-.556-2.143-1.488-2.685-.95-.542-2.061-.581-3.566-.581h-6.773V17.12zm-11.877 0h9.836v-2.506h-6.893v-2.422h6.73V9.708h-6.73V7.525h6.893V5h-9.836v12.121zm-28.564-5.228l2.001-4.83 2.014 4.83h-4.015zm16.481 5.228h2.587l4.271-9.492.012 9.492h3.018V5h-4.91l-3.536 8.223L24.494 5h-4.808v11.476L14.673 5h-4.37L5.03 17.121h3.2l1.143-2.702h6.13l1.131 2.702h5.995V7.619l4.277 9.502z">
                    </path>
                </svg></div>

            <div style="padding: 0 2%;">

                <svg viewBox="0 0 64 28" id="discover" style="    width: 70px;
                height: 30px;">
                    <g fill="none" fill-rule="evenodd">
                        <path fill="#000" fill-rule="nonzero"
                            d="M47.616 8.563h-4.899V.246h4.899v1.41h-3.172v1.846h3.057V4.91h-3.057v2.245h3.172v1.408zm2.876 0h-1.727V.246h2.563c1.992 0 3.136.9 3.136 2.456 0 1.274-.719 2.109-2.019 2.358l2.79 3.503h-2.128L50.716 5.22h-.224v3.342zm0-4.488h.503c1.104 0 1.69-.45 1.69-1.285 0-.809-.584-1.232-1.661-1.232h-.53l-.002 2.517zm-12.384 4.7L41.936.248h-1.87L37.67 5.833 35.309.248h-1.888l3.76 8.527h.927zm17.02-7.69h-.187v-.73h.251c.19 0 .296.078.296.226 0 .101-.06.176-.17.204l.254.3h-.227l-.218-.284v.284h.001zm0-.406h.03c.091 0 .14-.03.14-.096 0-.062-.046-.094-.138-.094h-.032v.19zM8.087 8.563h1.726V.246H8.087v8.317zM7.289 4.41c0 1.224-.596 2.407-1.606 3.19-.852.663-1.82.963-3.159.963H0V.248h2.533C5.336.246 7.29 1.958 7.29 4.41zm-1.778-.013c0-.798-.36-1.57-.959-2.07-.57-.485-1.248-.672-2.361-.672h-.464v5.499h.464c1.114 0 1.82-.202 2.361-.661.6-.5.959-1.297.959-2.096zm16.294 4.35c.746 0 1.383-.135 2.167-.484v-1.91c-.69.65-1.303.912-2.085.912-1.74 0-2.974-1.185-2.974-2.868 0-1.596 1.274-2.856 2.894-2.856.825 0 1.45.276 2.166.936V.57C23.216.209 22.591.06 21.848.06c-2.617 0-4.716 1.934-4.716 4.351-.001 2.442 2.043 4.337 4.673 4.337zM54.551.718c0-.354.301-.637.681-.637.365 0 .67.288.67.637 0 .35-.305.637-.67.637-.377 0-.681-.283-.681-.637zm.137.002c0 .289.245.521.537.521a.53.53 0 0 0 .539-.521.534.534 0 0 0-.539-.524.53.53 0 0 0-.537.524zM14.04 3.437c-1.039-.36-1.344-.599-1.344-1.047 0-.524.544-.922 1.29-.922.515 0 .942.2 1.393.674l.904-1.112a4.036 4.036 0 0 0-2.604-.921c-1.568 0-2.76 1.021-2.76 2.381 0 1.146.554 1.732 2.177 2.28.677.225 1.021.374 1.195.474.346.211.518.512.518.86 0 .674-.57 1.175-1.341 1.175-.823 0-1.49-.388-1.885-1.11l-1.118 1.01c.798 1.097 1.752 1.584 3.066 1.584 1.797 0 3.057-1.121 3.057-2.73-.001-1.322-.585-1.922-2.548-2.596z">
                        </path>
                        <path fill="#E6772F"
                            d="M29.248 8.857c2.115 0 3.908-1.308 4.5-3.109.028-.076.044-.154.068-.23.016-.065.036-.13.05-.193.065-.288.095-.587.095-.894 0-2.441-2.109-4.421-4.713-4.421-1.95 0-3.628 1.114-4.341 2.702-.24.53-.37 1.111-.37 1.722 0 2.442 2.11 4.423 4.711 4.423zM63.932 27.962V12.037s-16.607 11-47.025 15.924h47.025z">
                        </path>
                    </g>
                </svg>
            </div>
            <div style="padding: 0 2%;"> <svg viewBox="0 0 49 39" id="mastercard" style="    width: 70px;
                height: 40px;">
                    <g fill="none" fill-rule="nonzero">
                        <path fill="#231F20"
                            d="M46.794 37.694v.094h.089c.02 0 .036-.005.048-.012a.041.041 0 0 0 .018-.036.04.04 0 0 0-.018-.034.087.087 0 0 0-.048-.012h-.09zm.09-.066c.045 0 .08.01.106.03a.1.1 0 0 1 .038.082c0 .03-.01.053-.03.073a.147.147 0 0 1-.085.035l.117.132h-.091l-.11-.132h-.035v.132h-.077v-.352h.167zm-.024.474a.307.307 0 0 0 .277-.181.296.296 0 0 0-.16-.389.318.318 0 0 0-.236 0 .287.287 0 0 0-.16.158.28.28 0 0 0-.024.115c0 .042.008.08.024.116a.278.278 0 0 0 .063.094.305.305 0 0 0 .216.087zm0-.677a.395.395 0 0 1 .364.233c.02.046.03.095.03.147 0 .053-.01.102-.03.148a.393.393 0 0 1-.364.233.401.401 0 0 1-.366-.233.357.357 0 0 1-.031-.148.373.373 0 0 1 .241-.35c.049-.02.1-.03.156-.03zm-36.417-1.358c0-.673.45-1.225 1.184-1.225.702 0 1.176.528 1.176 1.225 0 .696-.474 1.224-1.176 1.224-.735 0-1.184-.552-1.184-1.224zm3.16 0v-1.913h-.849v.464c-.269-.344-.677-.56-1.233-.56-1.094 0-1.952.84-1.952 2.009s.858 2.009 1.952 2.009c.556 0 .964-.217 1.233-.561v.464h.849v-1.912zm28.68 0c0-.673.45-1.225 1.185-1.225.703 0 1.176.528 1.176 1.225 0 .696-.473 1.224-1.176 1.224-.735 0-1.184-.552-1.184-1.224zm3.162 0v-3.45h-.85v2.001c-.269-.344-.677-.56-1.232-.56-1.095 0-1.953.84-1.953 2.009s.858 2.009 1.953 2.009c.555 0 .963-.217 1.232-.561v.464h.85v-1.912zm-21.307-1.265c.547 0 .898.337.988.928h-2.025c.09-.552.432-.928 1.037-.928zm.017-.744c-1.144 0-1.944.816-1.944 2.009 0 1.216.833 2.009 2.001 2.009.588 0 1.126-.144 1.6-.536l-.416-.617a1.89 1.89 0 0 1-1.135.4c-.547 0-1.045-.248-1.168-.937h2.899c.008-.103.017-.208.017-.32-.009-1.192-.76-2.008-1.854-2.008zm10.248 2.009c0-.673.45-1.225 1.185-1.225.702 0 1.175.528 1.175 1.225 0 .696-.473 1.224-1.175 1.224-.735 0-1.185-.552-1.185-1.224zm3.16 0v-1.913h-.848v.464c-.27-.344-.678-.56-1.233-.56-1.095 0-1.953.84-1.953 2.009s.858 2.009 1.953 2.009c.555 0 .963-.217 1.233-.561v.464h.849v-1.912zm-7.953 0c0 1.16.824 2.009 2.083 2.009.588 0 .98-.129 1.404-.457l-.408-.672c-.319.224-.653.344-1.022.344-.677-.008-1.176-.488-1.176-1.224 0-.737.499-1.217 1.176-1.225.369 0 .703.12 1.022.344l.408-.672c-.425-.328-.816-.456-1.404-.456-1.259 0-2.083.848-2.083 2.009zm10.943-2.01c-.49 0-.809.225-1.03.561v-.464h-.84v3.825h.849v-2.144c0-.633.278-.985.833-.985a1.4 1.4 0 0 1 .53.096l.263-.784a1.84 1.84 0 0 0-.605-.104zm-22.752.4c-.409-.263-.971-.4-1.592-.4-.989 0-1.625.465-1.625 1.225 0 .624.473 1.009 1.346 1.129l.401.056c.466.064.686.184.686.4 0 .296-.31.465-.89.465-.588 0-1.013-.184-1.299-.4l-.4.647c.466.336 1.054.497 1.69.497 1.128 0 1.781-.52 1.781-1.249 0-.672-.514-1.024-1.364-1.144l-.4-.057c-.367-.048-.662-.12-.662-.376 0-.28.278-.448.743-.448.499 0 .981.184 1.217.328l.368-.672zm10.951-.4c-.49 0-.809.225-1.028.561v-.464h-.841v3.825h.848v-2.144c0-.633.278-.985.833-.985a1.4 1.4 0 0 1 .531.096l.262-.784a1.84 1.84 0 0 0-.605-.104zm-7.243.097H20.12v-1.161h-.858v1.16h-.792v.761h.792v1.745c0 .888.351 1.417 1.355 1.417.368 0 .793-.112 1.062-.296l-.245-.713c-.253.144-.53.216-.752.216-.424 0-.562-.256-.562-.64v-1.729h1.388v-.76zm-12.69 3.825v-2.4c0-.905-.589-1.513-1.537-1.521-.498-.009-1.012.143-1.372.68-.269-.424-.693-.68-1.29-.68-.417 0-.824.12-1.143.568v-.472h-.85v3.825h.858v-2.12c0-.665.375-1.017.956-1.017.564 0 .849.36.849 1.008v2.13h.858v-2.121c0-.665.391-1.017.955-1.017.58 0 .857.36.857 1.008v2.13h.858z">
                        </path>
                        <path fill="#FF5F00" d="M31.125 26.985h-13.25V3.23h13.25z"></path>
                        <path fill="#EB001B"
                            d="M18.716 15.108c0-4.82 2.262-9.112 5.784-11.878A15.1 15.1 0 0 0 15.14 0C6.78 0 0 6.764 0 15.108c0 8.344 6.779 15.107 15.141 15.107a15.1 15.1 0 0 0 9.359-3.23c-3.522-2.766-5.784-7.059-5.784-11.877">
                        </path>
                        <path fill="#F79E1B"
                            d="M33.859 30.215a15.104 15.104 0 0 1-9.36-3.23c3.523-2.766 5.785-7.059 5.785-11.877 0-4.82-2.262-9.112-5.785-11.878A15.104 15.104 0 0 1 33.86 0C42.22 0 49 6.764 49 15.108c0 8.344-6.779 15.107-15.141 15.107z">
                        </path>
                    </g>
                </svg></div>
            <div style="padding: 0 2%;">
                <svg viewBox="0 0 49 39" id="maestro" style="    width: 70px;
                height: 40px;">
                    <g fill="none" fill-rule="nonzero">
                        <path fill="#6C6BBD" d="M31.125 26.985h-13.25V3.23h13.25z"></path>
                        <path fill="#D32011"
                            d="M18.716 15.108c0-4.82 2.262-9.112 5.784-11.878A15.1 15.1 0 0 0 15.14 0C6.78 0 0 6.764 0 15.108c0 8.344 6.779 15.107 15.141 15.107a15.1 15.1 0 0 0 9.359-3.23c-3.522-2.766-5.784-7.059-5.784-11.877">
                        </path>
                        <path fill="#0099DF"
                            d="M49 15.108c0 8.344-6.779 15.107-15.141 15.107a15.104 15.104 0 0 1-9.36-3.23c3.523-2.766 5.785-7.059 5.785-11.877 0-4.82-2.262-9.112-5.785-11.878A15.104 15.104 0 0 1 33.86 0C42.22 0 49 6.764 49 15.108">
                        </path>
                        <path fill="#110F0D"
                            d="M35.608 33.697c.176 0 .43.034.623.11l-.27.822a1.42 1.42 0 0 0-.547-.101c-.572 0-.858.369-.858 1.032v2.249h-.875v-4.011h.867v.487c.227-.353.555-.588 1.06-.588zm-3.233.898h-1.43v1.813c0 .402.143.671.58.671.228 0 .514-.076.774-.227l.252.747c-.277.193-.714.31-1.093.31-1.035 0-1.396-.553-1.396-1.485v-1.829h-.816v-.797h.816v-1.217h.883v1.217h1.43v.797zm-11.196.856c.093-.58.446-.974 1.068-.974.564 0 .926.353 1.018.974H21.18zm2.995.353c-.009-1.251-.783-2.107-1.91-2.107-1.178 0-2.002.856-2.002 2.107 0 1.274.858 2.105 2.062 2.105.605 0 1.16-.15 1.648-.562l-.43-.646c-.336.269-.765.42-1.168.42-.564 0-1.077-.26-1.203-.982h2.986c.008-.11.017-.218.017-.335zm3.843-.982a2.583 2.583 0 0 0-1.252-.345c-.48 0-.766.177-.766.47 0 .269.303.345.681.395l.412.058c.875.127 1.405.496 1.405 1.2 0 .764-.673 1.31-1.833 1.31-.657 0-1.263-.168-1.742-.52l.412-.68c.295.226.733.419 1.338.419.597 0 .917-.176.917-.487 0-.226-.227-.352-.707-.419l-.412-.058c-.9-.127-1.388-.53-1.388-1.184 0-.797.656-1.284 1.674-1.284.64 0 1.22.143 1.64.42l-.379.705zm10.788-.296c-.18 0-.346.032-.501.094a1.204 1.204 0 0 0-.667.673 1.377 1.377 0 0 0-.096.524c0 .191.032.365.096.523.065.159.153.295.266.409.113.113.247.201.4.265.156.063.322.094.502.094s.348-.03.502-.094a1.203 1.203 0 0 0 .67-.674c.065-.158.097-.332.097-.523 0-.19-.032-.365-.096-.524a1.203 1.203 0 0 0-.671-.673 1.324 1.324 0 0 0-.502-.094zm0-.829c.312 0 .6.054.867.162a2.04 2.04 0 0 1 1.145 1.116c.11.259.164.54.164.842 0 .303-.055.583-.165.841a2.044 2.044 0 0 1-1.144 1.117 2.287 2.287 0 0 1-.867.162c-.312 0-.6-.054-.866-.162a2.096 2.096 0 0 1-.687-.445 2.069 2.069 0 0 1-.453-.672 2.13 2.13 0 0 1-.165-.841c0-.303.055-.583.165-.841.11-.258.26-.482.453-.67.193-.19.42-.339.687-.447a2.27 2.27 0 0 1 .866-.162zm-22.737 2.107c0-.705.464-1.285 1.22-1.285.723 0 1.211.555 1.211 1.285 0 .73-.488 1.283-1.21 1.283-.757 0-1.22-.578-1.22-1.283zm3.256 0v-2.006h-.875v.487c-.278-.361-.698-.588-1.27-.588-1.127 0-2.01.88-2.01 2.107 0 1.224.883 2.106 2.01 2.106.572 0 .992-.227 1.27-.588v.487h.875v-2.005zm-4.929 2.005v-2.517c0-.948-.605-1.586-1.58-1.595-.514-.009-1.044.15-1.414.714-.277-.445-.715-.714-1.33-.714-.428 0-.849.126-1.177.596v-.495H8.02v4.011h.883v-2.224c0-.696.387-1.066.983-1.066.581 0 .876.378.876 1.058v2.232h.882v-2.224c0-.696.405-1.066.984-1.066.598 0 .884.378.884 1.058v2.232h.883z">
                        </path>
                    </g>
                </svg>
            </div>
            <div style="padding: 0 2%;">
                <svg viewBox="0 0 52 37" id="diners-club" style="    width: 70px;
                height: 40px;">
                    <g fill="none" fill-rule="nonzero">
                        <path fill="#000"
                            d="M35.146 36.084c-2.571 0-4.2-1.76-4.2-4.384 0-2.387 2.01-4.1 4.166-4.1.89 0 1.75.305 2.596.618l.11 1.667h-.273c-.21-1.366-1.12-1.911-2.352-1.911-1.265 0-3.1.897-3.1 3.694 0 2.355 1.585 4.045 3.278 4.045 1.086 0 1.988-.794 2.208-2.015l.252.07-.252 1.699c-.462.302-1.704.617-2.433.617zm-18.932-.18c-.387 0-.77-.022-1.166-.022-.397 0-.794.012-1.187.022v-.298h.198c.307 0 .526 0 .526-.39V32.2c0-.664-.383-.993-1.011-.993-.35 0-.911.305-1.277.56v3.45c0 .388.245.388.553.388h.197v.3c-.384 0-.77-.024-1.166-.024-.395 0-.791.01-1.186.023v-.3h.197c.308 0 .526 0 .526-.388V32.13h.002c0-.432-.123-.549-.64-.768v-.22c.474-.165.924-.317 1.453-.561.031 0 .064.024.064.118v.757c.628-.478 1.168-.874 1.905-.874.934 0 1.264.722 1.264 1.63v3.006c0 .389.24.389.55.389h.198v.298zm7.009 5.708l-.005-.007.005.007zm19.533 0l-.005-.007.005.007zm-36.81 0l-.004-.007.004.005v.002zm16.26-9.13v2.738c0 .389.22.389.528.389h.615v.3c-.604-.01-1.064-.025-1.538-.025-.451 0-.912.014-1.308.024v-.3h.297c.306 0 .526 0 .526-.39v-3.27c0-.362-.405-.434-.57-.526v-.175c.802-.363 1.242-.663 1.342-.663.065 0 .098.033.098.149v1.05h.023c.275-.452.737-1.2 1.407-1.2.274 0 .628.196.628.617 0 .314-.21.597-.517.597-.342 0-.342-.28-.726-.28-.19-.005-.805.262-.805.964zm4.804 2.4c0-1.38-2.394-.933-2.394-2.807 0-.653.496-1.491 1.703-1.491.352 0 .825.105 1.255.34l.076 1.186h-.254c-.111-.733-.495-1.153-1.202-1.153-.439 0-.856.27-.856.767 0 1.366 2.551.945 2.551 2.774 0 .77-.584 1.588-1.893 1.588-.44 0-.957-.164-1.34-.395l-.123-1.34.198-.06c.144.769.582 1.424 1.386 1.424.65-.005.893-.425.893-.833zm-6.872-2.19l.099-.073c.01-.069.01-.138.01-.21-.01-1.234-.968-1.83-1.859-1.83-.769 0-2.221.676-2.221 2.96 0 .745.352 2.54 2.1 2.54.903 0 1.528-.606 2.034-1.317l-.154-.161c-.405.428-.879.778-1.484.778-.878 0-1.551-.907-1.615-2.014-.025-.394-.025-.57 0-.676l3.09.003zm-1.794-1.736c.617 0 .958.477.958 1.07 0 .138-.031.291-.307.291H17.08c.132-.839.594-1.361 1.263-1.361zM3.105 35.904c3.893 0 4.53-2.898 4.53-4.052 0-2.063-1.55-4.079-4.399-4.079-.813 0-1.44.027-1.903.027-.43 0-.867 0-1.296-.027v.302c.494.013 1.011-.058 1.011.99h-.001v5.655c-.03.792-.351.812-1.01.886v.298c.494-.01.98-.022 1.474-.022.515.004 1.033.022 1.594.022zm-.98-7.71c.198-.016.406-.047.858-.047 2.122 0 3.442 1.573 3.442 3.751 0 1.738-.78 3.634-3.155 3.634-.539 0-1.144-.105-1.144-1.001l-.002-6.338zm6.534.012c0-.291.262-.56.537-.56.286 0 .54.244.54.56 0 .313-.242.585-.54.585-.285-.001-.537-.282-.537-.585zm30.296 7.013v-6.49c0-.759-.166-.781-.584-.91v-.186a6.359 6.359 0 0 0 1.132-.5c.12-.07.208-.13.242-.13.07 0 .089.071.089.166v8.05c0 .388.242.388.551.388h.184v.3c-.37 0-.758-.024-1.155-.024-.395 0-.79.014-1.2.024v-.301h.211c.31 0 .53 0 .53-.387zm-29.737.667c-.395 0-.791.01-1.198.023v-.3h.21c.306 0 .528 0 .528-.388v-3.158c0-.513-.167-.585-.572-.814v-.185c.517-.167 1.132-.385 1.174-.42a.378.378 0 0 1 .2-.058c.055 0 .077.072.077.164v4.472c0 .388.243.388.55.388h.187v.3c-.375-.006-.76-.024-1.156-.024zm37.367-7.158v5.012c0 .71-.056 1.385-.155 2.075l.23.128.33-.27c.283.131.714.41 1.526.41 1.576 0 2.63-1.527 2.63-3.054 0-1.271-.768-2.448-2.045-2.448-.604 0-1.197.444-1.636.839v-4.255c0-.095-.025-.165-.09-.165-.033 0-.122.058-.241.13-.231.14-.692.351-1.135.5v.187c.42.133.586.153.586.911zm.88 3.033c.296-.271.637-.55 1.044-.55.86 0 1.758 1.05 1.758 2.308 0 1.037-.492 2.263-1.67 2.263-.737 0-1.132-.748-1.132-1.189v-2.832zM42.11 34.1c0 .348 0 1.352.957 1.352.371 0 .868-.303 1.33-.706v-3.136c0-.235-.528-.362-.923-.48v-.21c.989-.07 1.605-.162 1.714-.162.087 0 .087.078.087.21v4.302c0 .21.123.221.308.221.134 0 .298-.01.444-.01v.242c-.476.046-1.377.292-1.588.362l-.055-.034v-.945c-.66.567-1.164.977-1.948.977-.593 0-1.208-.41-1.208-1.385v-2.982c0-.306-.044-.598-.66-.653v-.223c.395-.01 1.275-.08 1.418-.08.123 0 .123.08.123.338V34.1h.001z">
                        </path>
                        <path fill="#0064A7"
                            d="M24.443 20.018V5.935c2.76 1.086 4.72 3.827 4.723 7.041-.004 3.216-1.964 5.953-4.723 7.042zM21.783 26h5.964C34.676 26.033 41 20.204 41 13.113 41 5.356 34.675-.004 27.747 0h-5.963C14.773-.004 9 5.359 9 13.113 9 20.206 14.771 26.036 21.784 26zm.029-24.926c6.408 0 11.602 5.33 11.602 11.903s-5.193 11.9-11.602 11.904c-6.407-.004-11.6-5.331-11.602-11.904.002-6.575 5.195-11.902 11.602-11.903zM14.46 12.976c.005-3.213 1.96-5.952 4.718-7.041v14.08c-2.76-1.088-4.714-3.827-4.718-7.039z">
                        </path>
                    </g>
                </svg>
            </div>
            <div style="padding: 0 2%;">

                <svg viewBox="0 0 38 29" id="jcb" style="    width: 70px;
                height: 30px;">
                    <g fill="none" fill-rule="evenodd">
                        <path fill="#4DA434" fill-rule="nonzero"
                            d="M28.577 13.704h-.023v-2.31H31.105c.016 0 .03.002.046.003l.046.003a.7.7 0 0 1 .045.005c.018 0 .032.003.046.004.016.001.025.004.033.005l.013.002a.261.261 0 0 1 .044.01c.017.002.03.007.046.011l.048.012.046.016.045.017c.017.005.03.013.046.02.017.007.03.013.046.022.016.007.03.016.045.024.017.008.03.017.046.026l.046.03c.016.01.032.023.045.034.02.011.033.023.048.037.017.013.03.026.046.041.017.014.03.029.046.046.016.016.03.033.045.051.017.02.03.04.046.06.017.021.03.045.046.068a.857.857 0 0 1 .045.083c.02.034.03.069.046.106.021.049.035.101.046.155.02.083.028.173.028.266 0 .093-.012.183-.028.267a.837.837 0 0 1-.046.156.728.728 0 0 1-.046.105.857.857 0 0 1-.045.083l-.046.069c-.016.02-.029.04-.046.059-.015.018-.029.036-.045.051l-.046.046a1.691 1.691 0 0 1-.046.041.417.417 0 0 1-.048.037.372.372 0 0 1-.045.033l-.046.03c-.016.008-.029.018-.046.026-.015.008-.029.017-.045.024-.016.006-.03.015-.046.022a1.91 1.91 0 0 1-.046.019l-.045.018-.046.014-.048.014a.547.547 0 0 1-.046.01c-.013.004-.029.006-.044.01l-.013.002-.033.004c-.014.003-.028.005-.046.005-.016.002-.03.004-.045.004-.017.003-.03.003-.046.005l-.046.002H28.578v-.003h-.001z">
                        </path>
                        <path fill="#4DA434"
                            d="M28.555 17.62H31.328c.015 0 .028-.004.046-.004l.046-.004.045-.002c.017-.003.028-.003.046-.005l.046-.006a1.463 1.463 0 0 0 .07-.014l.02-.004c.018-.003.029-.007.047-.011l.045-.014c.017-.004.03-.012.046-.017.017-.006.03-.01.046-.019.016-.006.03-.013.045-.02a.636.636 0 0 1 .048-.023c.017-.009.028-.016.046-.023a.603.603 0 0 1 .046-.026c.016-.009.03-.02.045-.03.017-.008.03-.02.046-.03l.046-.035.045-.039.048-.046.046-.048a2.042 2.042 0 0 0 .091-.121c.02-.024.03-.048.046-.07.019-.028.03-.057.046-.085a.899.899 0 0 0 .045-.112c.022-.05.033-.1.046-.156a1.295 1.295 0 0 0 0-.583c-.013-.055-.024-.105-.046-.158a1.234 1.234 0 0 0-.045-.107c-.016-.028-.027-.059-.046-.087-.016-.023-.027-.048-.046-.071l-.045-.064c-.016-.017-.027-.036-.046-.054-.016-.018-.029-.035-.046-.05-.015-.016-.029-.03-.048-.044-.015-.016-.029-.026-.045-.041l-.046-.035c-.016-.011-.029-.022-.046-.032-.015-.01-.029-.022-.045-.03-.016-.01-.03-.018-.046-.024-.018-.01-.029-.019-.046-.023-.018-.007-.029-.016-.048-.022l-.045-.022c-.016-.006-.03-.014-.046-.019l-.046-.017c-.015-.003-.029-.01-.045-.014l-.046-.011-.02-.004a1.462 1.462 0 0 0-.071-.011.785.785 0 0 1-.046-.008c-.018 0-.03-.003-.046-.003-.015-.002-.029-.004-.045-.004-.016-.002-.032-.002-.046-.005-.018 0-.031 0-.046-.002H28.555v2.509z">
                        </path>
                        <path fill="#B91F32"
                            d="M24.732.309H17.746L17.7.311l-.046.001a.658.658 0 0 0-.046.003l-.046.002a8.59 8.59 0 0 1-.045.003l-.046.003-.047.005-.046.003a.569.569 0 0 0-.045.006l-.046.004-.046.006-.045.007-.046.005a.651.651 0 0 0-.046.008l-.045.008-.046.008-.047.009L16.92.4l-.045.01-.046.01-.046.01-.045.01a.68.68 0 0 0-.046.012c-.016.003-.03.008-.046.01l-.045.014-.046.013-.046.013a.72.72 0 0 0-.045.014l-.046.014-.047.015-.046.016c-.015.006-.03.01-.046.017-.015.005-.03.01-.046.017-.016.004-.03.01-.046.016l-.045.018-.047.018-.046.019-.046.019-.045.02-.046.02c-.016.007-.03.015-.046.021a.445.445 0 0 0-.046.022l-.046.023-.046.023-.046.023a1.728 1.728 0 0 0-.045.023c-.016.008-.03.016-.047.023a.603.603 0 0 1-.046.026c-.015.008-.03.017-.045.023-.015.01-.03.018-.046.027l-.047.027-.046.028-.045.029-.046.029-.046.03-.045.031c-.016.01-.03.021-.047.031-.015.01-.03.024-.046.033l-.045.033-.046.035-.046.034-.047.04a.66.66 0 0 0-.045.036l-.046.038-.046.04c-.015.013-.03.025-.045.04-.016.014-.032.026-.046.04-.016.014-.03.029-.047.043-.014.015-.03.028-.046.042l-.045.046a.883.883 0 0 0-.046.046c-.016.014-.03.031-.046.047l-.045.048c-.016.016-.032.032-.046.049l-.046.05-.045.052c-.016.018-.03.036-.047.054l-.046.056-.047.057-.045.06-.046.061-.046.063-.045.065c-.016.024-.032.046-.046.07l-.046.07-.045.073-.046.077-.046.08a6.342 6.342 0 0 0-.092.172c-.016.03-.03.062-.046.093l-.047.098-.045.105c-.016.037-.032.074-.046.113l-.046.121c-.017.045-.031.09-.046.133a3.722 3.722 0 0 0-.09.316 4.736 4.736 0 0 0-.144 1.162v6.21l.097-.082a1.64 1.64 0 0 1 .046-.037c.016-.011.03-.023.046-.036a1.23 1.23 0 0 1 .045-.034 1.23 1.23 0 0 1 .092-.067l.046-.033.045-.03c.016-.01.03-.022.047-.03l.046-.031.046-.029a.623.623 0 0 1 .046-.028l.046-.028.046-.027.045-.026.046-.026.046-.024.045-.025.046-.025.046-.023.045-.023.047-.024.046-.023c.015-.007.03-.015.047-.021l.045-.022.046-.02.046-.02.045-.021.046-.019.046-.019.045-.019.046-.018.047-.018.046-.017.045-.018.046-.017.046-.017.045-.015.047-.017.046-.016.046-.015.045-.015.046-.014.047-.015.045-.013.046-.014.046-.013.045-.013.046-.014.047-.012.046-.012.055-.014.046-.01.047-.01.045-.012.046-.011.046-.011.046-.01.046-.01.046-.01.046-.01.045-.01.046-.01.046-.008.047-.01.045-.008.046-.01.046-.007.046-.008.046-.008.047-.007.046-.008.045-.008.046-.006.046-.007.045-.007.046-.006.046-.006.045-.006.046-.005.046-.007.045-.006.046-.005.047-.006.046-.004.045-.006.046-.004.046-.006.045-.003.046-.005.046-.004.045-.005.046-.003.047-.003.046-.004.045-.002.046-.003.046-.004.046-.002.046-.003.046-.002.046-.003.045-.002.046-.002.046-.002.045-.003h.046l.047-.003.045-.001.046-.001.046-.001.045-.001h.046l.047-.002h.046l.045-.002h.687l.045.001.047.002h.138l.046.002h.047l.046.002.045.001.046.001.046.001.045.003.046.002h.046l.048.003.045.001.046.002.046.004.045.002.046.002.046.004.045.003.046.003.046.004.045.003.046.004.046.005.046.003.045.005.047.003.046.005.046.004.046.004.046.005.046.005.046.005.046.006.046.004.045.006.046.005.046.006.047.005.045.006.046.005.046.006.045.007.048.005.046.007.046.007.045.006.046.008.046.006.045.006.046.007.046.008.045.007.048.006.046.007.045.008.045.008.045.007.048.008.045.008.046.009.046.008.045.008.046.009.046.007.046.008.045.01.046.007.046.009.045.01.046.009.046.009.045.009.048.009.046.008.046.01.045.01.046.008.046.01.048.01.045.01.046.01.046.01.045.01.046.01.046.01.045.01.046.01.048.012.046.01.045.011.046.011v2.008l-.046-.024-.045-.022-.046-.023-.048-.023-.046-.022-.045-.023-.046-.021-.046-.023-.045-.021-.046-.021-.046-.021-.045-.022-.048-.02-.046-.02-.046-.02-.045-.02-.046-.02-.046-.019-.048-.019-.045-.019-.046-.019-.046-.019-.045-.018-.046-.017-.046-.018-.045-.017-.046-.017-.046-.016-.046-.016-.045-.017-.046-.015-.046-.015-.045-.016-.048-.014-.045-.015-.045-.014-.045-.015-.046-.014-.048-.013-.045-.014-.046-.013-.046-.014-.045-.012-.046-.012-.046-.012-.045-.012-.046-.01-.046-.012-.048-.011-.045-.011-.046-.01-.046-.01-.045-.01-.047-.01-.046-.008-.046-.009-.045-.009-.046-.008-.046-.009-.046-.008-.046-.007-.046-.01-.046-.006-.046-.007-.046-.006-.047-.007-.045-.007-.046-.005-.046-.007-.046-.004-.045-.006-.046-.004-.046-.006-.068.011-.045-.004-.046-.004-.045-.004-.045-.003-.028-.003h-.018l-.046-.004-.046-.002-.046-.003-.046-.002-.045-.002-.046-.001-.046-.001-.045-.001h-.046l-.047-.002h-.091l-.047.002H19.2c-.014 0-.03 0-.045.002-.016 0-.03 0-.046.002l-.046.002-.045.002-.046.004-.046.003a8.59 8.59 0 0 1-.091.008l-.046.004-.045.006-.046.004-.046.007-.046.007-.045.007a.818.818 0 0 0-.047.007l-.046.007-.045.009c-.016.003-.032.004-.046.009-.017.002-.03.005-.047.009l-.046.009a.68.68 0 0 1-.045.01l-.046.012-.046.011-.045.011c-.016.005-.03.01-.047.014l-.046.013c-.014.003-.03.009-.045.014-.016.005-.03.008-.046.014l-.046.014-.046.016a.772.772 0 0 0-.045.018.377.377 0 0 0-.046.017.772.772 0 0 1-.046.018l-.046.017-.046.02-.046.02-.045.022c-.016.006-.03.014-.046.022l-.047.022-.046.024-.045.023a.603.603 0 0 0-.046.026c-.016.009-.03.018-.046.025-.015.01-.03.02-.045.028l-.046.03-.046.028-.045.032-.046.032-.047.033-.046.036-.045.037c-.016.013-.031.024-.046.038l-.046.04-.045.041-.046.045-.046.044-.045.05-.046.05c-.016.016-.03.034-.046.053l-.045.056-.046.06-.047.062-.046.068-.046.07c-.016.023-.03.05-.046.077a1.958 1.958 0 0 0-.046.082l-.045.09c-.017.032-.032.066-.047.099l-.046.107c-.017.04-.031.081-.046.123a5.103 5.103 0 0 0-.045.14c-.016.054-.033.11-.046.166a3.929 3.929 0 0 0-.111.964c0 .14.006.279.018.41a3.53 3.53 0 0 0 .093.55c.013.06.029.114.046.168.014.048.03.094.045.14.015.04.03.082.046.12l.046.11c.014.03.03.066.047.098.013.028.028.06.045.09l.046.08.046.078c.015.022.03.048.046.069l.046.067.047.065c.014.02.03.039.046.059l.045.057.046.052c.016.02.03.035.046.05l.045.05c.015.016.03.028.046.046l.046.044.045.041.046.039c.015.016.03.023.046.039l.045.035c.015.013.03.023.046.034.016.011.03.024.047.034.014.012.03.023.046.03.015.01.03.022.045.031.015.011.03.021.046.028.016.007.03.02.046.028.015.006.03.02.045.027.016.006.03.018.046.024.014.01.03.019.046.026l.045.022c.016.01.03.019.046.023a.445.445 0 0 0 .047.023c.015.01.03.017.046.023l.045.023.046.02a.43.43 0 0 0 .046.022c.015.004.03.012.046.019.015.004.03.012.046.019.016.004.03.011.046.018l.045.015c.016.005.03.011.046.018a.72.72 0 0 1 .092.03c.014.006.03.01.045.015l.046.013.047.014c.014.002.03.006.045.01.016.003.03.01.046.012l.046.011c.015.006.03.008.045.012a.33.33 0 0 0 .046.01c.016.005.03.007.047.01.014.004.03.006.046.008a.33.33 0 0 0 .045.009c.016.002.03.007.046.009l.047.007.045.006.046.007.046.009.046.004.045.005.046.005c.015.003.03.005.046.005l.045.004.046.003.046.004.045.002.046.004c.016 0 .03 0 .046.002h.045l.047.002H19.525l.045-.002h.046l.046-.002.045-.004.046-.002.046-.002.046-.002.046-.003.018-.002.028-.002.045-.002.045-.006.046-.004.045-.005.046-.004.046-.007.045-.004.046-.005.046-.007.046-.006.045-.007.046-.007.048-.009.046-.009.045-.006.046-.007.046-.007.045-.009.048-.008.046-.007.046-.01.045-.01.046-.011.046-.01.045-.01.046-.01.046-.01.045-.012.046-.009.048-.012.046-.011.045-.012.046-.014.046-.013.045-.011.046-.014.046-.013.045-.014.046-.015.048-.013.046-.014.045-.015.046-.016.046-.014.045-.017.046-.016.046-.015.046-.016.045-.018.046-.017.046-.016.045-.018.046-.018.046-.018.045-.019.046-.018.046-.019.045-.02.046-.018.048-.02.046-.022.045-.018.046-.022.046-.02.045-.021.048-.022.046-.022.046-.022.045-.022.046-.023.046-.022.045-.022.046-.024.046-.022.048-.022.045-.024.046-.023.046-.024v2.007l-.046.012-.046.011-.045.011-.048.012-.046.01-.046.012-.045.011-.046.01-.046.011-.045.01-.062.037-.045.011-.046.01-.046.008-.045.012-.046.01-.048.01-.046.008-.045.011-.046.01-.046.008-.045.007-.046.009-.046.009-.045.01-.046.009-.046.01-.045.006-.046.01-.046.008-.046.007-.045.009-.046.009-.048.009-.046.006-.045.01-.046.007-.046.004-.045.008-.046.007-.046.007-.045.009-.046.008-.048.006-.046.007-.045.008-.046.018-.046.006-.045.007-.046.007-.047.006-.046.005-.045.007-.047.006-.046.005-.045.006-.046.005-.046.005-.045.007-.047.005-.046.004-.044.006-.046.004-.048.005-.046.004-.045.004-.046.005-.045.002-.045.002-.046.005-.046.004-.045-.002-.046.005-.046.002-.046.004-.045.002-.046.005-.046.002-.047.002-.046.003-.046.002h-.046l-.045.002h-.046l-.046.002-.045.003-.047.003h-.046l-.047.002h-.045l-.046.002h-.047l-.045.003h-.184l-.046.002H18.521l-.046-.002h-.092l-.046-.003h-.046l-.046-.002H18.2l-.046-.002-.046-.003-.047-.003h-.045l-.046-.002-.046-.002-.045-.002-.043.006-.045-.002-.046-.002-.046-.002-.046-.005-.046-.002-.046-.005-.046-.002-.045-.004-.047-.002-.046-.005-.045-.004-.046-.003-.046-.004-.045-.005-.046-.006-.046-.005-.046-.004-.045-.005-.047-.007-.046-.005-.045-.007-.046-.004-.046-.008-.045-.007-.046-.006-.046-.002-.045-.01-.046-.006-.046-.007-.046-.009-.045-.006-.047-.01-.046-.007-.047-.009-.045-.007-.046-.008-.046-.008-.046-.01-.046-.008-.046-.01-.045-.008-.046-.011-.046-.011-.047-.005-.045-.011-.046-.01-.046-.011-.045-.014-.047-.01-.046-.014-.046-.011-.045-.015-.047-.011-.046-.015-.045-.013-.046-.013-.046-.014-.045-.015-.047-.011-.046-.014c-.014-.006-.03-.011-.046-.015-.015-.007-.03-.012-.045-.017l-.033-.024-.046-.015-.046-.018c-.016-.005-.03-.011-.046-.018l-.045-.015a.264.264 0 0 0-.046-.02l-.046-.018-.047-.02-.045-.018-.046-.022-.046-.02-.045-.02-.046-.02-.046-.023-.045-.021-.046-.024c-.016-.006-.03-.014-.047-.022l-.046-.022-.046-.024-.046-.022c-.016-.01-.03-.018-.046-.024-.015-.008-.03-.017-.045-.023l-.046-.025-.046-.023-.046-.02-.045-.026c-.016-.009-.03-.02-.046-.024l-.046-.027c-.015-.01-.03-.021-.045-.028a.344.344 0 0 0-.047-.028l-.046-.03c-.015-.009-.03-.022-.047-.029l-.045-.029a.5.5 0 0 0-.046-.032c-.016-.011-.031-.024-.046-.033L13.355 18c-.016-.01-.03-.023-.046-.035-.016-.01-.03-.023-.046-.034l-.045-.036c-.034-.027-.067-.056-.098-.082v10.952H20.189c.015 0 .03 0 .045-.003h.046l.046-.002.045-.002.046-.002c.016-.003.03-.003.046-.003l.045-.004.047-.004c.015-.003.03-.003.046-.005l.047-.007.045-.004.046-.007.046-.006.047-.007.045-.007a.33.33 0 0 0 .046-.009l.046-.008.045-.008a.428.428 0 0 1 .046-.01c.017-.003.029-.007.047-.012l.045-.01.046-.012c.017-.002.03-.007.046-.011l.046-.011c.016-.005.03-.01.047-.014.015-.005.028-.007.046-.012l.046-.014.046-.014a.315.315 0 0 0 .045-.015c.016-.005.028-.01.046-.014a.368.368 0 0 1 .046-.015l.045-.02.046-.016.046-.016.048-.02c.015-.004.027-.011.045-.018.014-.004.028-.01.046-.019l.046-.02.045-.019.046-.022a.43.43 0 0 0 .046-.022.836.836 0 0 0 .091-.045l.046-.023.045-.024c.016-.006.03-.016.046-.023l.046-.024.045-.023.046-.023c.018-.01.03-.02.046-.025.018-.01.03-.021.046-.027.017-.01.032-.019.045-.025.018-.012.03-.02.046-.028.018-.01.03-.02.046-.028.017-.011.03-.022.047-.03.016-.01.03-.02.046-.028s.028-.021.046-.032c.015-.01.03-.022.046-.03l.045-.033c.018-.011.03-.022.046-.032.018-.011.03-.024.048-.035.015-.011.028-.022.046-.033.015-.013.027-.024.045-.036l.046-.037c.015-.014.03-.023.046-.039a.82.82 0 0 0 .045-.037l.046-.041.046-.041a.402.402 0 0 0 .045-.041l.048-.044.046-.046.046-.045.045-.046c.018-.018.03-.033.046-.048.018-.018.03-.032.046-.05l.045-.05.046-.053.046-.055.045-.059a2.54 2.54 0 0 0 .046-.057l.046-.06.045-.062c.016-.023.03-.044.046-.064.016-.023.03-.046.048-.068.016-.023.028-.046.046-.07a.616.616 0 0 1 .045-.068l.046-.074.044-.076a.748.748 0 0 0 .045-.081c.018-.027.033-.056.048-.085.016-.027.03-.06.046-.09.015-.028.03-.062.046-.093l.045-.098.046-.108c.018-.038.03-.075.046-.116.017-.041.03-.083.045-.124.018-.046.033-.091.046-.137.018-.05.032-.1.046-.153.017-.06.032-.117.045-.176.02-.07.033-.142.048-.212a4.987 4.987 0 0 0 .085-.892V.309h-.13z">
                        </path>
                        <path fill="#005194"
                            d="M11.62.309H4.635L4.59.311l-.046.001c-.016 0-.03.001-.046.003l-.045.002c-.016 0-.03 0-.046.003l-.047.003-.046.004c-.015 0-.03.002-.046.004L4.22.336 4.175.34 4.13.347a.651.651 0 0 0-.137.02l-.046.007C3.93.376 3.916.379 3.9.383l-.046.009C3.84.395 3.824.396 3.81.4l-.047.01-.046.01-.047.01-.045.012a.68.68 0 0 0-.046.01l-.046.012-.047.012L3.44.49a.72.72 0 0 1-.046.014c-.014.004-.03.008-.046.015l-.045.014-.046.016-.047.014-.045.018c-.015.004-.03.01-.046.016l-.046.016-.035.018-.047.018-.046.019L2.9.686l-.045.021-.047.02c-.016.007-.03.015-.046.02-.015.01-.03.016-.045.024-.015.006-.03.014-.046.022l-.046.025a.578.578 0 0 0-.046.022.619.619 0 0 1-.046.024L2.486.89a.603.603 0 0 0-.046.026l-.045.024c-.016.01-.03.02-.046.027l-.047.027-.046.028-.045.027a.635.635 0 0 1-.046.03l-.046.03-.045.03c-.016.01-.03.022-.047.033l-.046.032-.045.034a1.23 1.23 0 0 0-.046.035.608.608 0 0 1-.047.033l-.046.038c-.015.012-.03.023-.045.037l-.046.038c-.016.013-.03.024-.046.04l-.047.039a.766.766 0 0 1-.045.039.864.864 0 0 1-.047.043c-.014.015-.03.028-.046.043l-.045.045a.883.883 0 0 0-.046.046l-.046.047a1.813 1.813 0 0 0-.045.048c-.016.017-.032.032-.047.05-.016.016-.03.033-.046.048-.016.02-.03.036-.047.054-.015.016-.03.035-.045.053l-.046.055-.046.058a2.076 2.076 0 0 0-.045.058l-.047.062-.046.063-.046.065-.045.069c-.017.022-.032.047-.047.069-.016.024-.03.05-.046.073l-.045.077-.046.08-.046.084-.046.088a3.563 3.563 0 0 0-.092.191c-.016.035-.03.07-.046.103l-.045.114c-.017.04-.03.08-.046.12l-.047.134-.046.148c-.015.056-.032.112-.045.169A4.774 4.774 0 0 0 0 5.056v11.713c.033.018.066.03.098.048l.046.022.045.022.046.024.047.02.046.023.045.023.046.02.046.023.046.018.046.022.046.02.046.021.045.022.046.019.047.019.045.02.046.02.046.02.047.019.045.019.046.018.046.018.045.017.047.02.046.016.047.016.045.018.046.017.046.016.045.018.046.015.047.014.045.018.047.015.046.016.046.013.045.014.046.013.047.016.046.012.045.014.046.014.047.012.045.011.046.012.046.012.045.014.046.011.047.012.046.012.045.01.046.01.046.01.046.01.046.009.046.01.046.01.045.01.046.008.047.009.045.006.046.01.046.007.047.008.045.006.046.005.046.007.045.007.047.006.046.004.045.006.046.006.046.004.046.005.046.002.046.004.046.002.045.005h.047l.046.002.047.003.045.003h.046l.047.002h.046l.045.001h.137l.046-.001.046-.001.046-.002.046-.003.047-.004c.014 0 .03 0 .046-.002.015-.003.03-.003.045-.005l.046-.004.046-.007c.015 0 .03-.002.045-.007l.046-.006.046-.008c.015-.003.03-.008.045-.01.016-.002.032-.007.047-.01.016-.001.03-.006.046-.008a.68.68 0 0 1 .046-.011c.014-.005.03-.008.045-.012.016-.006.03-.008.046-.013a2.41 2.41 0 0 0 .046-.013l.046-.016.046-.015a.368.368 0 0 1 .046-.016.772.772 0 0 1 .045-.018.772.772 0 0 0 .046-.018l.047-.02a.836.836 0 0 0 .046-.022c.015-.007.03-.016.045-.022l.046-.023.046-.023.045-.026c.016-.006.03-.015.047-.023a.603.603 0 0 1 .046-.026c.015-.009.03-.021.046-.028.015-.01.03-.022.045-.03l.046-.032c.016-.011.03-.024.046-.034l.045-.035.046-.037.047-.041.045-.044.046-.048.047-.048.046-.052c.015-.021.03-.037.046-.06l.046-.063a2.551 2.551 0 0 0 .091-.137c.016-.025.032-.052.046-.078.016-.028.031-.062.046-.09.015-.03.031-.067.046-.1.016-.058.03-.095.045-.136a1.994 1.994 0 0 0 .091-.322c.022-.1.037-.205.047-.31.007-.082.01-.166.01-.255v-5.504H10.75v5.506a4.718 4.718 0 0 1-.068.8 3.447 3.447 0 0 1-.276.856c-.014.029-.03.062-.046.091-.015.027-.03.058-.046.084-.016.026-.03.052-.046.076-.015.024-.03.05-.046.073a2.42 2.42 0 0 1-.045.069l-.046.068-.046.063-.045.057-.046.055c-.014.019-.03.036-.046.054a.66.66 0 0 1-.045.05.636.636 0 0 1-.047.048l-.046.046a.883.883 0 0 1-.046.046c-.014.016-.03.028-.045.042l-.046.043-.046.039-.046.037c-.015.013-.03.023-.046.035-.015.015-.03.024-.046.035-.014.014-.03.023-.045.033a.383.383 0 0 1-.046.033c-.016.01-.03.023-.047.03a.224.224 0 0 1-.046.03c-.015.011-.03.022-.045.03a.218.218 0 0 1-.046.028c-.016.009-.03.02-.046.026a.195.195 0 0 1-.045.026.39.39 0 0 1-.047.027.603.603 0 0 1-.046.026l-.046.022c-.015.009-.03.018-.045.023-.016.01-.03.016-.047.024l-.046.023-.045.02a.353.353 0 0 1-.046.024l-.046.022-.047.021-.045.024c-.016.004-.031.012-.047.019l-.046.02-.045.022a.396.396 0 0 0-.046.019c-.016.007-.03.013-.046.018-.014.007-.031.012-.045.018l-.047.018c-.016.004-.03.01-.046.015-.016.008-.03.012-.047.018l-.045.014-.046.016-.046.015-.045.013-.047.013c-.015.005-.03.012-.046.016l-.046.016-.045.01-.047.014-.046.012a2.41 2.41 0 0 1-.091.026l-.046.012-.046.011-.046.013-.046.009-.046.01-.045.006-.046.01-.046.01-.045.01-.046.01-.046.008-.046.008c-.015.002-.03.005-.046.01l-.046.006c-.015.004-.03.006-.046.009l-.045.006-.046.008-.047-.023a2.197 2.197 0 0 1-.046.006l-.045.008-.046.003-.046.006-.046.006-.046.005-.046.007-.045.005-.046.004-.046.007-.046.004-.045.005-.046.004-.046.002-.046.005-.046.004-.047.002-.046.003-.045.002-.047.004-.046.003-.04.006-.046.003-.045.002-.046.002H5.64l-.045.002-.047.002-.046.003-.045.002H5.41l-.046.002h-.046l-.046.002h-.046l-.046.003H4.542l-.046-.003h-.138l-.046-.002h-.047l-.045-.002h-.046l-.046-.002h-.045l-.046-.003-.046-.002-.045-.002-.047-.002-.04-.006-.046-.002-.047-.002-.045-.003-.047-.002-.046-.004-.046-.002-.045-.003-.047-.004-.046-.002-.045-.004-.046-.002-.046-.004-.045-.003-.047-.004-.046-.002-.046-.005-.045-.004-.04-.007-.047-.004-.046-.005-.046-.004-.045-.005-.047-.004-.046-.007-.045-.004-.046-.005-.046-.004-.046-.005-.046-.006-.046-.005-.046-.006-.045-.004-.046-.007-.047-.005-.046-.007-.045-.004-.046-.007-.046-.007-.045-.006-.047-.005-.046-.007-.045-.009-.046-.004-.047-.007-.046-.008-.045-.006-.046-.007-.046-.008-.047-.006-.045-.007-.047-.007-.046-.009-.045-.006-.046-.01-.046-.006-.045-.008-.047-.009-.046-.008-.047-.008-.045-.01-.046-.007-.046-.008-.045-.009-.047-.009-.046-.009-.046-.009-.045-.01-.047-.01-.046-.01-.045-.011-.046-.009-.046-.008-.046-.01-.046-.012-.046-.009-.046-.011-.045-.011-.046-.012-.047-.013-.046-.01-.045-.012-.046-.011A2.813 2.813 0 0 1 0 18.766v9.998H7.056c.015 0 .03 0 .046-.003h.046l.046-.002.046-.002.045-.002c.016-.003.03-.003.046-.003l.046-.004.045-.005a.633.633 0 0 0 .046-.004l.046-.007.046-.004.046-.007.046-.004c.014-.003.03-.005.045-.01.016-.001.03-.004.046-.006l.046-.009.047-.008c.014-.002.03-.007.045-.01a.33.33 0 0 1 .046-.009c.016-.002.03-.006.046-.01l.047-.01.045-.013c.016-.002.03-.007.046-.011.014-.002.03-.007.046-.011l.045-.014.047-.012.046-.015.047-.013c.014-.004.03-.009.045-.016l.046-.013a.368.368 0 0 1 .046-.016l.045-.018.046-.017.047-.017.045-.019a.46.46 0 0 0 .047-.016l.046-.02.046-.022.045-.02.046-.02a.584.584 0 0 0 .047-.022l.045-.022a.295.295 0 0 1 .046-.023l.046-.023.047-.024c.015-.009.03-.018.045-.023l.046-.024a.603.603 0 0 1 .046-.025c.015-.01.03-.018.045-.023a.212.212 0 0 1 .046-.025l.047-.027c.014-.009.03-.019.046-.027.015-.009.03-.02.045-.028a.189.189 0 0 1 .046-.025.268.268 0 0 1 .046-.03l.046-.03.046-.03a.536.536 0 0 1 .046-.03.672.672 0 0 1 .045-.033.348.348 0 0 1 .046-.033 1.23 1.23 0 0 1 .093-.069 5.806 5.806 0 0 0 .091-.073l.046-.037c.015-.015.03-.025.045-.04l.046-.04.046-.04c.015-.015.03-.027.045-.044l.046-.042c.016-.018.03-.028.046-.045a.883.883 0 0 1 .046-.046c.015-.019.03-.029.046-.047a.95.95 0 0 1 .046-.048.973.973 0 0 1 .047-.049c.015-.019.03-.034.045-.052l.046-.054c.016-.017.031-.035.046-.054l.046-.057c.015-.02.03-.037.045-.058l.046-.06.046-.062.045-.066c.016-.023.031-.044.046-.068l.046-.069c.015-.023.03-.048.046-.07.016-.023.03-.05.046-.073.016-.023.031-.05.046-.074a6.823 6.823 0 0 0 .137-.257l.046-.093.045-.099.046-.107c.017-.039.031-.076.047-.116l.045-.122a6.592 6.592 0 0 0 .092-.292 4.519 4.519 0 0 0 .138-.674c.024-.2.039-.402.039-.607V.309H11.62z">
                        </path>
                        <path fill="#4DA434"
                            d="M37.862.309H30.862l-.045.002-.046.001-.046.001c-.018 0-.03.003-.048.003a2.856 2.856 0 0 1-.045.003l-.046.002-.046.005a.701.701 0 0 0-.045.004l-.048.005-.046.004-.046.006-.045.005-.046.007c-.016.001-.029.004-.048.007L30.17.37l-.045.007-.045.009c-.017.002-.03.006-.046.009l-.045.009-.046.01c-.017.003-.03.008-.046.01a.547.547 0 0 0-.045.011l-.046.011-.046.013-.048.012-.045.013A2.41 2.41 0 0 1 29.62.5l-.046.013a.547.547 0 0 0-.045.014l-.048.015-.046.016a.552.552 0 0 0-.046.016l-.045.016-.046.017-.046.018-.048.017-.045.02c-.017.005-.03.012-.046.018-.017.007-.029.014-.046.02-.016.007-.029.014-.045.02-.017.007-.03.015-.046.022-.017.006-.029.014-.046.022l-.045.022-.046.024c-.017.007-.029.015-.046.023-.016.008-.029.016-.048.024l-.045.024c-.017.008-.03.017-.046.025-.017.007-.029.017-.046.025l-.045.027-.046.027c-.017.009-.03.019-.046.028l-.045.029-.048.03-.047.029-.046.031-.046.032-.045.033c-.016.01-.03.022-.046.033l-.046.034-.045.035-.046.036-.046.037c-.015.012-.03.023-.045.038l-.046.039c-.016.013-.03.027-.048.04-.016.013-.028.027-.046.04l-.043.042a.924.924 0 0 0-.048.043l-.046.044-.045.046c-.018.016-.03.031-.046.047-.018.017-.03.032-.046.048l-.045.05a.473.473 0 0 0-.046.05c-.018.017-.032.034-.048.052l-.046.054c-.015.02-.03.037-.045.055l-.046.057-.046.06-.045.06-.046.064c-.016.021-.03.043-.046.066-.015.022-.029.045-.046.068-.017.023-.03.047-.045.07-.018.025-.031.05-.046.074-.018.025-.031.051-.048.076l-.045.08-.047.083-.046.089c-.018.03-.029.06-.046.092-.017.032-.03.065-.045.098-.018.035-.03.07-.046.105-.018.037-.031.075-.046.113-.018.04-.03.081-.045.121-.018.045-.032.09-.046.134-.018.048-.031.098-.048.147-.016.055-.029.112-.046.168-.018.066-.03.132-.045.2a4.69 4.69 0 0 0-.098.966v4.926H33.029l.044.001.046.001.047.001.044.003.046.002.046.002.047.002.046.003.028.002h.018l.046.003.045.003.046.004.046.003.045.006.046.004.046.006.048.005.045.006.046.005a.988.988 0 0 1 .046.008l.045.008c.017.002.03.006.046.009.017.002.029.007.046.009l.045.009c.017.003.032.008.048.01.017.003.03.008.046.011l.046.012.045.011.046.014a.44.44 0 0 1 .046.014l.045.014.046.015.048.016c.014.004.029.011.046.017l.045.016.046.02a.718.718 0 0 0 .094.039c.015.007.029.014.045.02l.046.023.046.023.045.024.046.024.046.027.045.028.046.029.046.03c.015.01.029.021.048.032a.54.54 0 0 0 .045.034l.046.037c.016.01.03.024.045.038.016.012.03.025.045.04.017.013.03.028.046.042.017.015.03.03.046.045l.045.048c.017.018.033.033.048.051.017.018.03.037.046.055.017.02.03.039.046.059.016.022.032.042.045.064.017.024.03.047.046.07a.792.792 0 0 1 .046.079c.016.029.032.059.045.09a.715.715 0 0 1 .046.103c.02.041.032.082.048.125a2.017 2.017 0 0 1 .091.44c.007.073.013.15.013.229 0 .074-.006.147-.013.22a1.81 1.81 0 0 1-.045.272c-.014.054-.027.11-.046.163-.016.042-.029.083-.048.125-.013.034-.027.07-.046.104a1 1 0 0 1-.045.092.98.98 0 0 1-.046.08c-.016.025-.029.048-.046.073a.545.545 0 0 1-.045.067l-.046.061c-.016.019-.029.038-.046.057-.015.018-.029.036-.048.052a.621.621 0 0 1-.045.05l-.046.047c-.016.015-.029.03-.046.045-.015.014-.029.028-.045.041l-.045.042c-.017.01-.03.023-.046.035l-.045.036c-.017.011-.03.022-.048.032a.424.424 0 0 1-.046.033c-.017.008-.03.02-.046.029l-.045.029c-.017.008-.03.017-.046.025l-.046.026c-.016.009-.03.017-.045.023-.017.008-.03.017-.046.024l-.046.023c-.016.01-.03.016-.045.024-.017.006-.03.013-.048.02a.925.925 0 0 1-.046.02c-.017.006-.029.013-.046.02-.016.005-.029.013-.045.018-.017.006-.03.01-.046.018l-.048.015-.046.016a.368.368 0 0 0-.045.015l-.046.014-.046.013-.045.014c-.017.002-.03.006-.046.01l-.046.01-.048.01c-.014.005-.029.007-.045.012l-.046.009a.651.651 0 0 0-.046.008l-.045.007-.043.007v.055l.044.004.045.002.046.005.046.004.045.005.048.007.046.005.046.007.045.008c.018.002.03.004.046.009l.046.006.045.01.046.01c.018.003.03.005.048.01l.046.01.045.012c.016.002.03.006.046.01.017.005.03.01.046.013.015.006.03.008.048.014l.045.014.046.014.046.015c.015.007.03.011.045.015.016.006.03.013.046.017l.046.017c.015.007.03.011.046.019l.045.019.046.02.048.02.046.022c.015.007.027.015.045.023l.046.023c.015.007.028.016.046.023l.043.025c.018.009.03.017.048.025.016.01.03.019.046.026.015.008.03.02.045.028.018.01.03.02.046.028.018.01.032.022.048.03.016.011.03.023.046.033l.045.033c.016.011.03.023.046.033.016.015.03.024.046.04.015.01.03.023.045.039l.046.039c.016.015.03.03.046.043l.048.046.045.05c.018.018.03.035.046.052l.046.055c.018.021.03.041.045.063a.51.51 0 0 1 .046.063c.018.024.031.05.046.07.018.024.03.052.045.076.018.028.032.06.048.087l.046.103c.018.037.031.076.046.117.018.048.03.098.045.15a2.17 2.17 0 0 1 0 1.072c-.014.053-.027.105-.045.158-.015.041-.028.082-.046.121-.017.035-.028.07-.046.105-.015.03-.03.06-.048.09-.014.027-.027.054-.045.08-.015.023-.028.05-.046.073-.014.023-.028.044-.046.066-.015.022-.027.041-.045.064-.016.02-.028.039-.046.06l-.046.052c-.015.02-.03.034-.045.05-.016.02-.03.032-.048.048a.883.883 0 0 1-.046.046c-.016.015-.028.027-.046.041l-.045.042a.637.637 0 0 1-.046.035c-.016.015-.03.024-.046.037-.015.014-.03.024-.045.035l-.046.034c-.016.012-.03.023-.048.03a.16.16 0 0 1-.046.03c-.015.01-.028.02-.045.026-.016.01-.03.021-.046.028-.016.01-.03.018-.048.026a.204.204 0 0 1-.043.023c-.018.01-.03.018-.046.025-.016.006-.03.017-.046.023-.018.01-.03.018-.045.024-.018.006-.03.015-.046.022l-.048.021a.836.836 0 0 0-.046.021l-.045.02-.046.02-.046.018c-.015.005-.03.013-.046.017-.015.007-.03.011-.045.017-.016.004-.03.01-.046.015l-.046.007-.045.013c-.018.005-.03.012-.048.014a1.054 1.054 0 0 0-.046.014c-.015.005-.028.007-.046.011-.015.005-.03.007-.045.013l-.046.01-.048.01c-.015.002-.028.009-.046.011a.41.41 0 0 0-.045.009l-.046.007-.046.009-.045.006-.046.007-.046.008-.048.004c-.015.002-.027.005-.045.005-.016.002-.028.004-.046.004l-.046-.001-.045.004-.046.003-.046.002-.063.007c-.016.002-.03.002-.048.002-.016 0-.03 0-.046.002H26.237v9.67H33.302l.045-.002h.046c.017 0 .032 0 .048-.002.014 0 .03 0 .046-.002l.045-.002c.017 0 .03-.003.046-.003l.046-.004c.016-.002.032-.002.045-.007l.046-.002.046-.007c.016 0 .029-.002.048-.004.014-.002.029-.005.045-.005l.046-.009.046-.006.045-.007a.651.651 0 0 0 .092-.017l.045-.009.048-.01.046-.01c.017-.003.029-.008.046-.012l.045-.011.046-.011.046-.014c.016-.002.029-.006.045-.012l.046-.013c.017-.006.029-.008.048-.015l.046-.013.045-.014.046-.015a.368.368 0 0 1 .046-.016c.015-.005.029-.012.048-.017l.045-.019.046-.015a.616.616 0 0 1 .046-.02l.045-.018.046-.021c.016-.005.029-.013.046-.02l.045-.02.046-.022.046-.022.048-.023a.616.616 0 0 1 .045-.02c.016-.01.03-.018.046-.024a.586.586 0 0 1 .046-.023c.015-.008.029-.018.044-.024a.356.356 0 0 1 .046-.023c.017-.01.03-.02.046-.024l.045-.025c.017-.008.033-.018.048-.026l.046-.024c.017-.01.03-.022.046-.027.016-.01.03-.02.045-.028.017-.009.03-.02.046-.028l.046-.03c.016-.009.03-.02.045-.029.017-.009.03-.021.046-.031.017-.01.03-.021.048-.03.015-.012.03-.024.046-.033.016-.01.03-.023.045-.032l.046-.037c.017-.011.03-.023.046-.034.016-.014.032-.024.048-.036a.66.66 0 0 1 .045-.037l.046-.038.046-.039.045-.041.046-.041.046-.044.045-.043.046-.044.046-.048.046-.046c.016-.018.03-.032.047-.048a.281.281 0 0 1 .046-.05l.046-.054c.017-.018.03-.035.046-.053l.045-.055.046-.058.046-.059.045-.062.048-.064c.016-.022.028-.043.046-.066l.046-.068c.015-.023.027-.045.045-.069l.046-.071.046-.076c.015-.024.027-.052.045-.077.016-.027.028-.056.046-.082.016-.027.03-.057.046-.086l.045-.092.046-.096c.018-.034.03-.069.046-.103l.048-.113c.015-.04.027-.077.044-.116.017-.044.031-.086.045-.13.018-.045.032-.095.045-.144.018-.053.033-.108.046-.163a2.76 2.76 0 0 0 .046-.19c.02-.077.032-.16.048-.238a4.776 4.776 0 0 0 .065-.781V.303h-.1V.31h.001z">
                        </path>
                    </g>
                </svg>
            </div>
            <div style="padding: 0 2%;">
                <svg viewBox="0 0 93 25" id="paypal" style="    width: 70px;
                height: 30px;">
                    <g fill="none" fill-rule="nonzero">
                        <path fill="#139AD6"
                            d="M71.89 6.577h-5.019c-.295 0-.59.308-.738.615l-2.066 13.539c0 .307.147.461.443.461h2.657c.295 0 .443-.154.443-.461l.59-3.846c0-.308.295-.616.738-.616h1.624c3.395 0 5.314-1.692 5.757-5.077.295-1.384 0-2.615-.59-3.384-.886-.77-2.215-1.231-3.839-1.231m.591 5.077c-.295 1.846-1.624 1.846-2.952 1.846h-.886l.59-3.538c0-.154.148-.308.443-.308h.295c.886 0 1.772 0 2.215.615.295.154.295.616.295 1.385">
                        </path>
                        <g fill="#263B80">
                            <path
                                d="M35.724 6.577h-5.02c-.294 0-.59.308-.737.615L27.9 20.731c0 .307.148.461.443.461h2.362c.295 0 .59-.307.738-.615l.59-3.692c0-.308.296-.616.738-.616h1.624c3.395 0 5.315-1.692 5.757-5.077.296-1.384 0-2.615-.59-3.384-.886-.77-2.067-1.231-3.838-1.231m.59 5.077C36.02 13.5 34.69 13.5 33.362 13.5h-.738l.59-3.538c0-.154.148-.308.443-.308h.295c.886 0 1.772 0 2.215.615.147.154.295.616.147 1.385M50.929 11.5h-2.362c-.148 0-.443.154-.443.308l-.148.769-.147-.308c-.59-.769-1.624-1.077-2.805-1.077-2.657 0-5.02 2.154-5.462 5.077-.295 1.539.148 2.923.886 3.846s1.771 1.231 3.1 1.231c2.214 0 3.395-1.384 3.395-1.384l-.148.769c0 .307.148.461.443.461h2.214c.296 0 .59-.307.738-.615l1.329-8.615c-.148-.154-.443-.462-.59-.462m-3.396 4.923c-.295 1.385-1.328 2.462-2.804 2.462-.739 0-1.329-.308-1.624-.616-.295-.461-.443-1.077-.443-1.846.148-1.385 1.328-2.461 2.657-2.461.738 0 1.181.307 1.624.615.443.461.59 1.23.59 1.846">
                            </path>
                        </g>
                        <path fill="#139AD6"
                            d="M86.948 11.5h-2.362c-.148 0-.443.154-.443.308l-.148.769-.147-.308c-.59-.769-1.624-1.077-2.805-1.077-2.657 0-5.02 2.154-5.462 5.077-.295 1.539.148 2.923.886 3.846s1.771 1.231 3.1 1.231c2.214 0 3.395-1.384 3.395-1.384l-.148.769c0 .307.148.461.443.461h2.214c.296 0 .59-.307.739-.615l1.328-8.615c-.148-.154-.295-.462-.59-.462m-3.396 4.923c-.295 1.385-1.328 2.462-2.804 2.462-.738 0-1.329-.308-1.624-.616-.295-.461-.443-1.077-.443-1.846.148-1.385 1.329-2.461 2.657-2.461.738 0 1.181.307 1.624.615.59.461.738 1.23.59 1.846">
                        </path>
                        <path fill="#263B80"
                            d="M63.771 11.5h-2.51c-.294 0-.442.154-.59.308l-3.247 5.23-1.476-4.923c-.148-.307-.296-.461-.738-.461h-2.362c-.296 0-.443.308-.443.615l2.657 8.154-2.51 3.692c-.147.308 0 .77.296.77h2.362c.295 0 .442-.154.59-.308l8.119-12.154c.443-.461.148-.923-.148-.923">
                        </path>
                        <path fill="#139AD6"
                            d="M89.752 7.038l-2.066 13.847c0 .307.147.461.443.461h2.066c.295 0 .59-.308.738-.615L93 7.192c0-.307-.148-.461-.443-.461h-2.362c-.147-.154-.295 0-.443.307">
                        </path>
                        <path fill="#263B80"
                            d="M16.976 1.962C15.943.73 14.024.115 11.366.115h-7.38c-.443 0-.886.462-1.034.923L0 21.192c0 .462.295.77.59.77h4.577l1.18-7.539v.308c.148-.462.591-.923 1.034-.923h2.214c4.281 0 7.529-1.846 8.562-6.923v-.462c-.147 0-.147 0 0 0 .148-2-.147-3.23-1.18-4.461">
                        </path>
                        <path fill="#139AD6"
                            d="M18.01 6.423v.462c-1.034 5.23-4.281 6.923-8.562 6.923H7.233c-.443 0-.885.461-1.033.923l-1.476 9.384c0 .308.147.616.59.616h3.838c.443 0 .886-.308.886-.77v-.153l.738-4.77v-.307c0-.462.443-.77.886-.77h.59c3.69 0 6.643-1.538 7.381-6.153.296-1.846.148-3.539-.738-4.616a1.53 1.53 0 0 0-.885-.769">
                        </path>
                        <path fill="#232C65"
                            d="M16.976 5.962c-.147 0-.295-.154-.443-.154-.147 0-.295 0-.443-.154-.59-.154-1.18-.154-1.919-.154H8.414c-.147 0-.295 0-.443.154a.852.852 0 0 0-.442.77l-1.181 8v.307c.147-.462.59-.923 1.033-.923h2.214c4.281 0 7.529-1.846 8.562-6.923 0-.154 0-.308.148-.462-.295-.154-.443-.308-.738-.308-.443-.153-.443-.153-.59-.153">
                        </path>
                    </g>
                </svg>
            </div>

        </div>
    </div>
    <div class="copyright" style="color: #858585;
    text-align: center;
    display: block;
    line-height: 40px;
    height: 40px;
    background-color: #ededed;
    font-size: 12px;
    box-sizing: border-box;
    font-family: Roboto,Open Sans,sans-serif;
    position: relative;">
        © 2007-2021&nbsp;<span>Hotelmix</span><span class="logo-connector">.</span><span>fr</span>. All rights reserved
    </div>
</div>


