<div class="container toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <a *ngIf="isVerticalLayout$ | async"
     [routerLink]="['/']"
     class="ltr:mr-4 rtl:ml-4 block"
     fxLayout="row"
     fxLayoutAlign="start center">
    <img class="w-8 select-none" src="assets/img/demo/logo.svg">
    <h1 [fxHide]="mobileQuery" class="title ltr:pl-4 rtl:pr-4 m-0 select-none">VEX</h1>
  </a>

  <div *ngIf="isHorizontalLayout$ | async"
          [fxHide]="mobileQuery"
          
          color="primary"
          mat-raised-button
          type="button"><span style="    font-size: 21px;
          font-weight: 700;
          letter-spacing: .5px;
          color: #2367ba;
          cursor: pointer;">Hotelmix</span><span style="    color: #c9322c;">.</span><span style="    font-size: 21px;
          font-weight: 700;
          letter-spacing: .5px;
          color: #2367ba;
          cursor: pointer;">fr</span>
  </div>

  <mat-menu #addNewMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
    <button mat-menu-item>
      <mat-icon [icIcon]="icPersonAdd"></mat-icon>
      <span>Add Contact</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icDoneAll"></mat-icon>
      <span>Add Task</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icAssignmentTurnedIn"></mat-icon>
      <span>Add Project</span>
    </button>

    <button [matMenuTriggerFor]="documentMenu" mat-menu-item>
      <mat-icon [icIcon]="icBallot"></mat-icon>
      <span>Add Document</span>
    </button>
  </mat-menu>

  <mat-menu #documentMenu="matMenu">
    <button mat-menu-item>
      <mat-icon [icIcon]="icDescription"></mat-icon>
      <span>Add Quote</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icAssignment"></mat-icon>
      <span>Add Invoice</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icReceipt"></mat-icon>
      <span>Add Receipt</span>
    </button>
  </mat-menu>

  <div #megaMenuOriginRef class="ltr:ml-2 rtl:mr-2">
    <button *ngIf="isHorizontalLayout$ | async"
            [fxHide]="mobileQuery"
           
            color="primary"
            mat-button
            type="button" style="    font-size: 12px;
            color: #67707a;
            vertical-align: top;padding-left:0px !important" class="header__logo-slogan">Trouvez une meilleure offre
    </button>
  </div>


  <div *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async"
       [fxHide]="mobileQuery"
       class="px-gutter"
       fxFlex="none"
       fxLayout="row"
       fxLayoutAlign="start center">
    <vex-navigation-item *ngFor="let item of navigationItems" [item]="item"></vex-navigation-item>
  </div>

  <span fxFlex></span>

  <div class="-mx-1 flex items-center">
    <div class="px-1">
      <button (click)="openSearch()" mat-icon-button type="button">
        <mat-icon [icIcon]="icSearch"></mat-icon>
      </button>
    </div>

    <div class="px-1"> <span></span>
<span>Mes réservations</span> </div>

    <div class="px-1">
      <button (click)="openQuickpanel()" mat-icon-button type="button">
        <!-- <mat-icon [icIcon]="icBookmarks"></mat-icon> -->
        <svg style="width: 24px;
        height: 16px;
        fill: #858585;
        display: inline-block;
        margin-right: 0px;">
          <path id="ic_support_ic_Support" class="cls-1" d="M19.139,0H12.257A3.845,3.845,0,0,0,8.4,3.817V4.225H3.857A3.844,3.844,0,0,0,0,8.044v2.594a3.838,3.838,0,0,0,3.325,3.783v2.046a0.528,0.528,0,0,0,.295.473,0.535,0.535,0,0,0,.558-0.049l3.3-2.434H10.74a3.844,3.844,0,0,0,3.859-3.82V10.231h0.922l3.3,2.434a0.536,0.536,0,0,0,.319.1,0.542,0.542,0,0,0,.24-0.055,0.529,0.529,0,0,0,.295-0.473V10.194A3.838,3.838,0,0,0,23,6.412V3.817A3.844,3.844,0,0,0,19.139,0ZM13.531,10.639A2.78,2.78,0,0,1,10.74,13.4H7.3a0.54,0.54,0,0,0-.319.105L4.393,15.414V13.929A0.532,0.532,0,0,0,3.857,13.4a2.78,2.78,0,0,1-2.79-2.762V8.044a2.779,2.779,0,0,1,2.79-2.762H8.4V6.412a3.844,3.844,0,0,0,3.859,3.82h1.274v0.407Zm0-1.465H12.257a2.78,2.78,0,0,1-2.79-2.762V5.282H10.74a2.779,2.779,0,0,1,2.79,2.762V9.174h0Zm8.4-2.762h0a2.779,2.779,0,0,1-2.79,2.762A0.532,0.532,0,0,0,18.6,9.7v1.485L16.017,9.279a0.535,0.535,0,0,0-.32-0.105H14.6V8.044a3.844,3.844,0,0,0-3.859-3.82H9.466V3.817a2.78,2.78,0,0,1,2.79-2.762h6.882a2.779,2.779,0,0,1,2.79,2.762V6.412h0Z" style="fill:black"></path>
      </svg>
      </button>
    </div>

    <div class="px-1"> <span></span>
      <span>Soutien</span> </div>
    <div class="px-1">
      <button [matMenuTriggerFor]="languageMenu" mat-icon-button type="button">
        <mat-icon [icIcon]="emojioneUS"></mat-icon>
      </button>
    </div>

    <div class="px-1">
      <vex-toolbar-user></vex-toolbar-user>
    </div>

    <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
      <button mat-menu-item>
        <mat-icon [icIcon]="emojioneUS"></mat-icon>
        <span>English</span>
      </button>

      <button mat-menu-item>
        <mat-icon [icIcon]="emojioneDE"></mat-icon>
        <span>German</span>
      </button>
    </mat-menu>
  </div>
</div>

<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
                [fxHide]="mobileQuery"></vex-navigation>
