:host {
  background: var(--toolbar-background);
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  height: var(--toolbar-height);
}

.mat-icon {
  color: var(--toolbar-icon-color);
}

a {
  color: var(--toolbar-color);
  text-decoration: none;
}


.header__logo-slogan:before {
  content: "";
  display: inline-block;
  margin: 0 16px;
  width: 1px;
  height: 28px;
  background-color: #e6e8eb;
  vertical-align: sub;
  position: relative;
  top: 5px;
}