::ng-deep .carousel .carousel-indicators li{
  width:150px !important;
  height:10px !important;
  opacity: 1 !important;
}
 ::ng-deep .carousel-indicators{
   bottom:-40px !important;
   margin-left:0% !important;
   margin-right:0% !important
 }