li {
   position: relative;
   padding: 4px 10px 4px 0px;
   box-sizing: border-box;
   font: 300 15.5px/24px Roboto, Open Sans, sans-serif;
   vertical-align: middle;
   color: #67707a;
}

.equipement-column-header {
   margin-bottom: 8px;
   letter-spacing: .4px;
   text-align: left;
   color: #1a232c;
   font: 600 18px;
   font-weight: 500;
   font-size: 18px;
}


.detail1 {
   margin: 0px;
   height: 230px;
   background-image: url('../.././../assets/img/detail1.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.detail2 {
   margin: 0px;
   height: 230px;
   background-image: url('../.././../assets/img/detail2.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.detail3 {
   margin: 0px;
   height: 230px;
   background-image: url('../.././../assets/img/detail3.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.detail4 {
   margin: 0px;
   height: 230px;
   background-image: url('../.././../assets/img/detail4.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.detail5 {
   margin: 0px;
   height: 230px;
   background-image: url('../.././../assets/img/detail5.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.detail6 {
   margin: 0px;
   height: 230px;
   background-image: url('../.././../assets/img/detail6.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.hotel-images,
.hotel-videos {
   display: table;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, .01);
   transition: background-color .5s;
   z-index: 100;
}

.h-page__navigation .nav-list .nav-item.active {
   font-weight: 500;
   color: #2367ba;
   border-bottom: 2px solid #2367ba;
}

.h-list__header-map {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 92px;
   background-image: url('../../../assets/img/ezgif.com-gif-maker.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

::ng-deep .mat-checkbox-frame {
   border-color: #c1c6cc;
   border-radius: 25% !important;
}

.place-km {
   margin: 0 10px;
   border-bottom: 1px solid #d9dde0;
   padding-bottom: 5px;

}




.h-page__reviews .reviews-users__list-item {
   color: #1a232c;
   padding: 16px 0;
   font: 300 16px/24px Roboto, Open Sans, sans-serif;
   border-bottom: 1px solid #d9dde0;
}

.h-page__reviews .review-item__text .description .user-review-mark.positive {
   top: 4px;
   width: 12px;
   height: 6px;
   transform: rotate(-45deg);
   border-left: 2px solid #1d9132;
   border-bottom: 2px solid #1d9132;
}

.reviews-rating__rate.size-s .rate-value {
   text-align: center;
   font: 500 12px/16px Roboto, Open Sans, sans-serif;
   letter-spacing: .1px;
}

.reviews-rating__rate.size-s:after {
   content: " ";
   right: -6px;
   border: 4px solid;
   border-color: transparent transparent #0c8827 #0c8827;

   content: " ";
   position: absolute;
   //  width: 0;
   //  height: 0;
   right: -12px;
   bottom: 0;
   border: 8px solid;
}

.kilometrage-proximite {
   font-size: 13px;
   letter-spacing: .1px;
   color: #1a232c;
   font-weight: 700;
   display: flex;
   align-items: end;
}

.commentaire-ville {
   font-size: 12px;
   line-height: 16px;
   letter-spacing: .1px;
   color: #67707a;
   padding-top: 6px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;


}

.commentaire-ville-commodite {
   font-size: 14px;
   line-height: 20px;
   letter-spacing: .1px;
   color: #1a232c;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   max-width: 160px;



}

.hover-div {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;

}

/*Footer*/

.hover-div:hover {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;

   transition: background-color .5s;
   z-index: 100;
   background: rgb(51 62 80 / 56%);
}

:host ::ng-deep .carousel-container,
.carousel-cells {
   width: 100%
}

:host ::ng-deep .carousel-cells {
   width: 100% !important
}


::ng-deep .carousel-dots .carousel-dot[_ngcontent-xat-c206] {
   display: inline-block;
   border: 2px solid #fff;
   border-radius: 50%;
   margin: 4px;
   width: 8px;
   height: 8px;
}


:host ::ng-deep .carousel-arrow {

   border-radius: 5px !important;
   width: 30px !important;
   height: 30px !important;
   background-size: 23px !important;

}

.carousel-room-detail-text {
   height: 45px
}


:host ::ng-deep .carousel-dots .carousel-dot {
   display: inline-block;
   border: 1px solid #c1c6cc !important;
   border-radius: 50% !important;
   width: 6px !important;
   height: 6px !important;
   background-color: #c1c6cc !important;
   margin-left: 3px;
   margin-right: 3px;
   padding: 0;
   cursor: pointer;
}


:host ::ng-deep .carousel-dots .carousel-dot-active {
   display: inline-block;
   border: 1px solid #163a75 !important;
   border-radius: 50% !important;
   margin-left: 3px;
   margin-right: 3px;
   padding: 0;
   cursor: pointer;
   width: 6px !important;
   height: 6px !important;
   background-color: #163a75 !important;
}

.stories-div {
   padding: 8rem !important;
}

.hotel-titre {
   text-align: center;
}

.hotel-address {
   text-align: center;
}

.verification-text {
   display: flex;
   width: 100%;
   font: 500 20px/28px Roboto, Open Sans, sans-serif;
   letter-spacing: .3px;
   margin: 0 0 12 px;
   font-weight: 500
}

.photos-hotel-number {

   font-family: Roboto, Open Sans, sans-serif;
   font-size: 15px;
   color: #fff;
   font-weight: 500;
   cursor: pointer;
}

.camera-icon {
   color: white;
   ;
   margin-top: 5px;
   margin-right: 8px;
}

.proximite-distance {

   display: flex;
   justify-content: space-between;
   padding-top: 6px;
   padding-bottom: 8px;
}

.proximite-distance-container {

   background-color: white;
   display: flex;
   justify-content: space-between;
   padding: 1rem;
}


.commentaires-title {
   color: #1a232c;
   font: 400 24px/36px Roboto, Open Sans, sans-serif;
   letter-spacing: .4px;
   padding: 16px 0;
}

.js-gtm-landmarks-nearby {
   border-radius: 4px;
   color: #3587e0;
   font-size: 12px;
   letter-spacing: .1px;
   font-weight: 600;
   background: #f0faff;
   border: 1px solid #b8e1ff;
   cursor: pointer;
   margin-right: 8px;
   white-space: nowrap;
   padding-left: 5px;
}

.js-gtm-landmarks-restaurants {
   border-radius: 4px;
   color: #3587e0;
   font-size: 12px;
   letter-spacing: .1px;
   font-weight: 600;
   background: #f0faff;
   border: 1px solid #b8e1ff;
   cursor: pointer;
   margin-right: 8px;
   white-space: nowrap;
   text-align: center;
   padding-left: 5px;
}

.js-gtm-landmarks-attractions {

   border-radius: 4px;
   padding: 4px;
   color: #3587e0;
   font-size: 12px;
   letter-spacing: .1px;
   font-weight: 500;
   background: #f0faff;
   border: 1px solid #b8e1ff;
   cursor: pointer;
   margin-right: 8px;
   white-space: nowrap;
   color: #fff;
   background: #154a94;
   border-color: #154a94;
}

.booking-button {
   background-color: #2eb843;
   color: #fff;
   text-transform: uppercase;
   padding: 6px 15px;
   border-radius: 4px;
   font-weight: 600;
   margin-top: 15px;

}

.price-booking {
   color: #000000;
   font-weight: 600;
   font-size: 18px;
   line-height: 20px;
   text-align: start;
   margin-top: 10px
}

.little-price {
   padding: 0 16px;
   width: 100%;
   color: #67707a;
   font-weight: 600;
   background-color: #2eb843;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: -6px;
   border-radius: 4px 0 0 0;
   color: #fff;
   padding: 4px 8px;
   margin: 0 0 8px;
   box-sizing: border-box;
   text-transform: uppercase;
   text-align: center;
   z-index: 100;
   letter-spacing: .5px;
   font-size: 12px;
}

#bos_mark {
   width: 16px;
   height: 16px;
   margin-top: 6px;
   margin-right: 8px;
   fill: #939ba3;
   color: #939ba3;
}

#ic_award {
   display: inline-block;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   background-color: #f4f4f4;
   text-align: center;
}

#room_guests {
   width: 35px;
   height: 25px
}

#bos_plus {

   fill: #3587e0;
   width: 20px;
   height: 20px
}

#room_airconditioning {

   width: 24px;
   margin-right: 8px;
}

#room_nosmoking,
#room_shower {

   width: 24px;
   margin-right: 8px;
}

#room_privatebathroom {

   width: 24px;
   margin-right: 8px;
}

.max-w-full {
   border: 1px solid #d9dde0;
   box-shadow: none !important
}

#bos_sport_activities,
#bos_child-friendly-hotel {
   width: 24px;
   height: 24px;
   margin-right: 8px;
   fill: #939ba3;
   color: #939ba3;
}

#bos_media {
   width: 24px;
   height: 24px;
   margin-top: 3px;
   margin-right: 4px;
   fill: #939ba3;
   color: #939ba3;
}


































/*footer*/
.footer-links__item-link {
   color: #2367ba;
   font-weight: 400;
   cursor: pointer;
   text-decoration: none;
   font-size: 12px;
}

.footer-ville-link {
   color: #2367ba;
   font-weight: 400;
   cursor: pointer;
   text-decoration: none;
   font-size: 12px;
}

.footer-links__item-hotels {
   margin-top: 2px;
   display: block;
   color: #939ba3;
   position: relative;
   font-size: 12px
}

.ou-loger {
   display: inline-block;
   width: 100%;
   font-weight: 700;
   color: #1a232c;
   text-decoration: none;
   line-height: 24px;
   letter-spacing: .2px;
   font-size: 18px;
   padding: 15px 0px;
   position: relative;
}

.need-navette {
   font-size: 16px;
   font-weight: 600;
   font-family: revert;
   margin: auto 0px;
   text-align: left;

}

#ic_transfer,
#ic_train,
#ic_airport,
#ic_pets_no #ic_beds,
#ic_check_time {
   width: 35px;
   height: 35px;
   margin-right: 8px;
   fill: #333;
   color: #333;
}

.see-card {
   background-color: #3587e0;
   color: #fff;
   display: block;
   min-height: 32px;
   border-radius: 4px;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: .5px;
   box-sizing: border-box;
   border: 0;
   outline: none;
   cursor: pointer;
   word-break: break-all;
   word-break: break-word;
   font: 700 14px/20px Roboto, sans-serif;
   letter-spacing: .4px;
   padding: 6px 8px;
}

.user-review-wrapper-text {
   color: #1a232c;
   padding: 16px 0;
   font: 300 16px/24px Open Sans, sans-serif;
   text-align: justify;
}

.minus-icon {
   color: #c9322c;
   margin-top: 5px;
   margin-right: 8px;

}



.rate-value-bien {
   width: 24px;
   height: 16px;
   border-radius: 4px 4px 0 4px;
   background: #8dd144;
   padding: 0px 4px;
   color: white;
   text-align: center;
   font: 500 12px/16px Open Sans, sans-serif;
   letter-spacing: .1px;
}

.rate-value-excellent {
   width: 24px;
   height: 16px;
   border-radius: 4px 4px 0 4px;
   background: #0c8827;
   padding: 0px 4px;
   color: white;
   text-align: center;
   font: 500 12px/16px Open Sans, sans-serif;
   letter-spacing: .1px;
}