#fq_1,
#fq_2,
#fq_4,
#fq_6,
#fq_7,
#fq_8,
#fq_9,
#fq_10 {

    color: #2071c9;
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    cursor: pointer;

}

.sous-titre {
    font: 500 18px/18px Roboto, Open Sans, sans-serif;
    font-weight: 500;
    font-family: Roboto, Open Sans, sans-serif;
    color: #333;
    border-bottom: none;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: none;
    padding-left: 0;
}

label {
    font-size: 12px;
    width: 100px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */

    font-weight: 500;
    opacity: 1;
    /* Firefox */
    font-size: 12px;
    color: #999;
    font-style: italic;
}

.support-covid {
    position: relative;
    padding: 16px 16px 16px 28px;
    margin-bottom: 15px;
    background: #fff9e6;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(26, 35, 44, .04), 0 2px 4px rgba(26, 35, 44, .12);
}

.support-covid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    border-radius: 4px 0 0 4px;
    background-color: #ffbe00;
}

.support-sous-text {
    margin-top: 8px;
    font: 400 16px/24px Roboto, Open Sans, sans-serif;
    font-family: Roboto, Open Sans, sans-serif;
    letter-spacing: .1px;
}

:host {
    background-color: #f4f4f4;
    display: block;
}

.support-sous-titre {
    font: 700 20px/28px Roboto, Open Sans, sans-serif;
    font-family: Roboto, Open Sans, sans-serif;
    letter-spacing: .3fpx;
}

.support-titre {
    width: 100%;
    text-align: center;
    font: 500 30px/36px Roboto, Open Sans, sans-serif;
    letter-spacing: .8px;
    text-transform: uppercase;
    margin: 5px auto 25px;
    color: #333;
    border-bottom: none;
    font-weight: 800;
    box-sizing: border-box;
    margin-top: 7rem;
}

.show-faqs {
    color: #333;
    cursor: pointer;
    padding: 0 0 0 18px;
    text-decoration: underline;
}

.form-support-container {
    margin-top: 5%;
    background-color: white;
    padding: 15px;
    width: 100%;
    min-height: 65px;
    border-radius: 4px;
    background-color: #fff;

    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 3px 6px .5px rgba(0, 0, 0, .05);
}

.send-button {
    background: #2d79cc;
    color: #fff;
    display: block;
    padding: 6px 8px;
    float: left;
    width: auto;
    height: auto;
    border-radius: 2px;

    border: none;
    cursor: pointer;
}

.horaire-travail {
    margin: 0 0 10px;
    font-size: 11px;
}

.horaire-travail-info {
    margin: 0 0 5px;
    font-size: 11px;
}

.horaire-travail-titre {
    color: #2071c9;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 12px;
    cursor: pointer;
}

.horaire-container {
    background: #e0e8ed;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 30px;
    color: #000;
}

.phone-number {
    display: inline-block;
    direction: initial;
    color: #2d79cc
}

.phone-number-international {
    font-size: 12px;
}

.phone-number-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-contact {
    border: 1px solid #ccc;
    padding: 20px;
}

.form-contact-container {
    border: 1px solid #ccc;
    padding: 20px
}

.links-question {
    font: 500 25px/24px Roboto, Open Sans, sans-serif;
    font-weight: 500;
    font-family: Roboto, Open Sans, sans-serif;
    font-weight: 500;
    font-family: Roboto, Open Sans, sans-serif;
    color: #333;
    border-bottom: none;
    font-weight: 600;
    padding-bottom: 15px;
}

.js-event-faq-tab {
    display: block;
    padding: 3px 4px;
    font-size: 11px;
    background: #1d8bd0;
    color: #fff;
    display: inline-block;
    margin: 0 3px 5px 0;
    border-radius: 4px;
}

.links-question-container {

    margin: 0 0 20px 10px;
    text-align: center;
}

.links-question-content {
    background-color: white;
    padding: 15px
}

.support-img-div {
    width: 145px
}

.support-img {
    margin: auto;
    margin: auto
}

.remplir-texte {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px
}

.select-subject-contact {

    border: 1px solid #dedede;
    width: 100%;
    padding: 0 5px;
}

.input-support-form {
    border: 1px solid #dedede;
    width: 100%;
    padding: 0 5px;
}

.checkbox-input-support-form {
    width: 100%
}

.send-button-container {
    margin-top: 15px;
}

.input-support-form-field {
    display: flex;
    margin-bottom: 10px;
}

.select-subject-contact-field {
    display: flex;
    margin-bottom: 10px;
}

.checkbox-input-support-form-field {
    display: flex;
}

.support-img-container {
    display: flex;
}