<div class="container">
    <h2 class="support-titre">Service clientèle de hotelmix.fr</h2>
    <div class="support-covid">
        <div class="support-img-container">
            <div class="support-img-div"> <img src="../../../assets/img/warning.d543b30ae9d9e08d9a95f2641d37f674.png"
                    class="support-img" /></div>
            <div>
                <div class="support-sous-titre">Veuillez noter que le traitement des demandes prend actuellement
                    beaucoup plus de temps que d'habitude en raison de l'épidémie de coronavirus COVID-19.</div>
                <p class="support-sous-text">Assurez-vous que nous faisons tout notre possible pour vous aider à gérer
                    votre réservation et à rester flexible dans ces circonstances incertaines. Nous vous remercions de
                    votre compréhension et de votre patience.</p>
            </div>
        </div>
    </div>
    <div class="links-question-content">
        <h2 class="links-question">Besoin d’aide ? Visitez notre FAQ</h2>
        <div class="links-question-container">
            <a href="#" id="ft_1" class="curr js-event-faq-tab">Questions principales</a>
            <a href="#" id="ft_12" class="js-event-faq-tab">Indications</a>
            <a href="#" id="ft_11" class="js-event-faq-tab">Facilités supplémentaires</a>
            <a href="#" id="ft_10" class="js-event-faq-tab">Règlement de l’hôtel</a>
            <a href="#" id="ft_9" class="js-event-faq-tab">Annulation</a>
            <a href="#" id="ft_8" class="js-event-faq-tab">Confirmation</a>
            <a href="#" id="ft_7" class="js-event-faq-tab">Types de chambres</a>
            <a href="#" id="ft_6" class="js-event-faq-tab">Disponibilité</a>
            <a href="#" id="ft_5" class="js-event-faq-tab">Recherche</a>
            <a href="#" id="ft_4" class="js-event-faq-tab">Fixation des prix</a>
            <a href="#" id="ft_3" class="js-event-faq-tab">Paiements</a>
            <a href="#" id="ft_2" class="js-event-faq-tab">Cartes de crédit</a>
        </div>
        <div>
            <h4 id="fq_1">Puis-je réserver une chambre si je n'ai pas de carte de crédit ?</h4>
            <h4 id="fq_2">Pourquoi dois-je donner les détails de ma carte de crédit ?</h4>
            <h4 id="fq_4">A quel moment dois-je payer mon séjour à l’hôtel ?</h4>
            <h4 id="fq_6">Comment puis-je être sûr que ma réservation est confirmée ?</h4>
            <h4 id="fq_7">Je n’ai pas reçu d’email de confirmation après ma réservation. Que dois-je faire ?</h4>
            <h4 id="fq_8">Comment puis-je être sûr que Booked.net est un site sécurisé ?</h4>
            <h4 id="fq_9">Est-il possible de payer mes réservations à l’hôtel en utilisant une autre carte de crédit que
                celle que j’ai utilisé au moment de la réservation ?</h4>
            <h4 id="fq_10">Où puis-je trouver les règlements de l’hôtel concernant les annulations ?</h4>
            <span class="show-faqs">Montrer plus de questions</span>
        </div>
        <div class="px-gutter py-2 form-support-container" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdColumns.sm="1fr"
            gdGap="16px">
            <div class="form-contact-container">
                <h3 class="sous-titre">Contactez hotelmix.fr</h3>
                <div>
                    <p class="remplir-texte">Remplissez ce formulaire pour nous
                        envoyer un e-mail. Les champs <strong>en gras</strong> sont obligatoires.</p>
                    <div class="select-subject-contact-field">
                        <label>Sujet : </label>
                        <mat-select class="select-subject-contact">
                            <mat-option value="option">--choisir--</mat-option>
                            <mat-option value="option">Modifier la réservation</mat-option>
                            <mat-option value="option">Annuler la réservation</mat-option>
                            <mat-option value="option">Réservation de groupe(5 chambres et +)</mat-option>
                            <mat-option value="option">Information de l'hotel</mat-option>
                            <mat-option value="option">Autre</mat-option>
                            <mat-option value="option">Vérifier les prix et la disponibilité</mat-option>
                        </mat-select>
                    </div>
                    <div class="checkbox-input-support-form-field">
                        <label></label>
                        <mat-checkbox [checked]="false" color="primary" class="checkbox-input-support-form">J'ai une
                            réservation
                        </mat-checkbox>
                    </div>
                    <div class="input-support-form-field">
                        <label>Nom : </label>
                        <input class="input-support-form" type="text" />
                    </div>
                    <div class="input-support-form-field">
                        <label>E-mail : </label>
                        <input type="text" class="input-support-form" />
                    </div>
                    <div class="input-support-form-field">
                        <label>Téléphone : </label>
                        <input type="text" class="input-support-form" />
                    </div>
                    <div>
                        <label>Votre message : </label>
                        <textarea placeholder="
        Veuillez préciser le nom de l’hôtel ou un lien vers un hôtel." class="input-support-form"></textarea>
                    </div>
                    <div class="send-button-container">
                        <button class="send-button">
                            Envoyer
                        </button>
                    </div>
                </div>
            </div>
            <div class="div-contact">
                <h2 class="sous-titre">Appelez hotelmix.fr</h2>
                <div class="phone-number-container">
                    <p class="phone-number-international">International: <span class="phone-number">+44 113 467
                            9515</span></p>
                </div>
                <div class="horaire-container">
                    <p class="horaire-travail-titre">Horaire pour appeler:</p>
                    <p class="horaire-travail">Du lundi au vendredi:8am - 10pm(CET)</p>
                    <p class="horaire-travail">Du samedi au dimanche:9am - 1pm(CET)</p>
                </div>
                <p class="horaire-travail-info">Les numéros de téléphone sont ceux du pays et seuls les tarifs locaux
                    s'appliquent, sauf pour les appels internationaux.</p>
            </div>
        </div>
    </div>
</div>