<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs [crumbs]="['Dashboards', 'Analytics']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<!-- <div class="p-gutter"
     gdColumns="1fr 1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer>
  <vex-widget-assistant gdColumn="1 / 3" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-assistant>

  <vex-widget-quick-line-chart [icon]="icPageView"
                               [series]="pageViewsSeries"
                               iconClass="text-primary bg-primary-light"
                               gdColumn.lt-sm="1"
                               label="Page Views"
                               value="92.4k"></vex-widget-quick-line-chart>

  <vex-widget-quick-line-chart [icon]="icGroup"
                               [options]="uniqueUsersOptions"
                               [series]="uniqueUsersSeries"
                               iconClass="text-orange bg-orange-light"
                               gdColumn.lt-sm="1"
                               label="Unique Users"
                               value="67.2k"></vex-widget-quick-line-chart>

  <vex-widget-large-chart [series]="userSessionsSeries"
                          gdColumn="1 / 3"
                          gdColumn.lt-md="1 / -1"
                          gdColumn.lt-sm="1"></vex-widget-large-chart>

  <vex-widget-table [columns]="tableColumns"
                    [data]="tableData"
                    class="w-full overflow-auto shadow" gdColumn="3 / -1"
                    gdColumn.lt-md="1 / -1"
                    gdColumn.lt-sm="1"></vex-widget-table>

  <vex-widget-quick-value-center [change]="124.4"
                                 [icon]="icGroup"
                                 iconClass="text-primary bg-primary-light"
                                 gdColumn.lt-sm="1"
                                 label="Users"
                                 value="67.4k"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center [change]="-23.7"
                                 [icon]="icPageView"
                                 iconClass="text-orange bg-orange-light"
                                 gdColumn.lt-sm="1"
                                 helpText="Additional information"
                                 label="Sessions"
                                 value="96.2k"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center [change]="23.2"
                                 [icon]="icCloudOff"
                                 iconClass="text-deep-orange bg-deep-orange-light"
                                 gdColumn.lt-sm="1"
                                 helpText="Explain something"
                                 label="Bounce Rate"
                                 value="6.92%"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center [change]="34.5"
                                 [icon]="icTimer"
                                 iconClass="text-teal bg-teal-light"
                                 gdColumn.lt-sm="1"
                                 label="Session Duration"
                                 value="16m 48s"></vex-widget-quick-value-center>

  <vex-widget-large-goal-chart [series]="salesSeries"
                               gdColumn="1 / -1"
                               gdColumn.lt-sm="1"
                               total="4,374"></vex-widget-large-goal-chart>

</div> -->
