:host {
  display: block;
  background-color: #f4f4f4;
}


::ng-deep .vex-flex-form-field .mat-form-field-infix {
  border-top-width: 0px;
}

::ng-deep .mat-form-field {

  height: 40px
}



::ng-deep .mat-checkbox-frame {
  border: 0.5px solid #3587e0;
  border-radius: 25% !important;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  font-size: 0.8rem;
}



::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}


::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #939393;
  ;
  font-weight: 500;
  opacity: 1;
  /* Firefox */
  font-size: 13px;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: transparent
}

.copyright {
  color: #858585;
  text-align: center;
  display: block;
  line-height: 40px;
  height: 40px;
  background-color: #ededed;
  font-size: 12px;
  box-sizing: border-box;
  font-family: Roboto, Open Sans, sans-serif;
  position: relative;
}

#paypal,
#jcb,
#discover,
#visa,
#american-express {
  width: 70px;
  height: 30px;
}

#diners-club,
#maestro,
#mastercard {
  width: 70px;
  height: 40px;
}

.paiement-card-type {
  max-width: 1140px;
  width: 100%;
  padding: 15px 0 10px;
  font-family: Roboto, Open Sans, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto;
  border-bottom: 1px solid #ededed;
  font-size: 12px;
}

.see-all {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, .6) 0, hsla(0, 0%, 100%, .99) 95%, #fff);
  height: 60px;
  margin-top: -25px;
  position: absolute;
  z-index: 1;
  height: 20px;
  width: 280px;
  text-align: center;
  padding-top: 20px;
  text-align: center;
  text-transform: lowercase;
  z-index: 2;
  font: 600 16px/24px Roboto, Open Sans, sans-serif;
  letter-spacing: .4px;
  color: #3587e0;
  cursor: pointer;
}

.see-less {

  z-index: 1;
  width: 280px;
  text-align: center;
  text-align: center;
  text-transform: lowercase;
  z-index: 2;
  font: 600 16px/24px Roboto, Open Sans, sans-serif;
  letter-spacing: .4px;
  color: #3587e0;
  cursor: pointer;
}

.need-navette {
  font-size: 15px;
  font-weight: 600;
  font-family: revert;
  margin: auto 0px;
  text-align: left;

}

.label-form-paiement {
  display: block;
  font-family: Roboto, Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .7px;
  text-align: left;
  margin-bottom: 5px;
}

.fixe-price {
  *display: table-cell;
  width: 95%;
  vertical-align: middle;
  font: 600 14px Roboto, Open Sans, sans-serif;
}

.fixe-price-container {
  -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  color: #333;
  border-left: 4px solid #ffbe00;
  background-color: #ffefc0;
  width: 100%;
  margin: 0 0 10px;
  padding: 15px;
  min-height: 54px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 1px 7px 0.1px rgb(0 0 0 / 4%), 0 3px 5px 0.3px rgb(0 0 0 / 10%);
}

.fixe-price-heure {
  -webkit-box-pack: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  color: #fff;
  font: 600 20px Roboto, Open Sans, sans-serif;
  background-color: #ffbe00;
  padding: 5px;
}

.fixe-price-minute {
  -webkit-box-pack: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  color: #fff;
  font: 600 20px Roboto, Open Sans, sans-serif;
  background-color: #ffbe00;
  padding: 5px;
}

.check-confirm-icon {
  color: #fff;
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.confirm-fournisseur-text {
  font: 400 13px/16px Roboto, Open Sans, sans-serif;
  white-space: normal;
  background-color: #42be56;
  position: relative;
  display: inline-flex;
  border-radius: 4px;
  width: 210px;
  padding-right: 20px;
  padding: 3px 10px 0;
  color: #fff;
  height: 40px;
}

.advantages {
  color: #42be56;
  padding: 5px 10px;
  min-height: 30px;
  line-height: 2;
  margin: 0 5px 10px 0;
  border-radius: 4px;
  vertical-align: middle;
  background-color: #e5f6e8;
  box-sizing: border-box;
  max-width: 20%;
  font-family: Raleway, Roboto, Open Sans, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .3px;
  margin: 0px 10px;
}

.paiement-card-info {
  font: 600 14px Raleway, Roboto, Open Sans, sans-serif;
  line-height: 20px;
  padding: 10px 15px;
  background: #e5f6e8;
  border-radius: 4px;
  border-left: 4px solid #42be56;
  color: #42be56;
  margin: 10px;
}

#mastercard,
#maestro,
#diners-club {
  width: 40px;
  margin-left: 15px;
  height: 40px;
}

#jcb,
#discover,
#visa,
#american-express {
  width: 40px;
  margin-left: 15px;
  height: 30px;
}

.card-paiement-container {
  position: relative;
  display: block;
  margin: 20px auto 10px;
  max-width: 570px;
  width: 100%;
  height: 300px;
  text-align: left;
  box-sizing: border-box;
  z-index: 100;
  -webkit-user-select: none;
}

.payment-card-wrapper {
  background-color: gray;
  position: absolute;
  left: 0;
  display: inline-block;
  max-width: 420px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  z-index: 2;
  height: 87%;
  box-shadow: 0 6px 20px 3px rgb(51 51 51 / 20%);
}

.card-title-text {
  display: inline-block;
  color: #cdcdcd;
  height: 45px;
  font-family: Roboto, Open Sans, sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: .9px;
}

.input-paiement-card {
  display: inline-block;
  margin-bottom: 5px;
  font-family: Roboto, Open Sans, sans-serif;
  font-size: 12px;
  letter-spacing: .7px;
  color: #333;
  line-height: normal;
  font-weight: 600;
}

.input-card-field {
  width: 100%;
  height: 50px;
  color: #333;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #cbcbcb;
  padding: 15px 10px;
  box-sizing: border-box;
  text-align: left;
  letter-spacing: 1px;
  font-style: normal;
  line-height: 18px;
}

.payment-card-back-wrapper {
  background-color: red;
  position: absolute;
  left: 165px;
  top: 30px;
  z-index: 0;
  display: inline-block;
  max-width: 420px;
  width: 100%;
  height: 260px;
  padding: 45px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: grey;
  background: -webkit-gradient(linear, left top, right top, from(#d9d9d9), to(#f6f6f6));
  background: linear-gradient(90deg, #d9d9d9 0, #f6f6f6);
}

.cvc-paiement-input {
  display: inline-block;
  margin-bottom: 5px;
  font-family: Roboto, Open Sans, sans-serif;
  font-size: 12px;
  letter-spacing: .7px;
  color: #333;
  line-height: normal;
  font-weight: 600;


}

.complete-reservation-button {
  height: 50px;
  padding: 8px;
  min-width: 400px;
  border-radius: 4px;
  background-color: #42be56;
  font-family: Roboto, Open Sans, sans-serif;
  font-size: 16px;
  margin: 20px auto;
  text-transform: uppercase;
  outline: none;
  box-shadow: 0 5px 26px 1px rgb(66 190 86 / 16%), 0 13px 19px 1px rgb(66 190 86 / 20%);
  font-weight: 600;
}

.complete-reservation-condition {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font: 400 12px/20px Raleway, Roboto, Open Sans, sans-serif;
  letter-spacing: .3px;
  color: #333;
  direction: ltr;
}

.details-reservation-titre {
  position: relative;
  color: #3988df;
  font-size: 15px;
  line-height: 1;
  padding: 13px 0px;
  text-transform: none;
  border-radius: 4px 4px 0 0;
  font-weight: 700;
  letter-spacing: normal;
}

.hotel-titre {
  max-height: 48px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  font: 600 18px Roboto, Open Sans, sans-serif;
  padding: 0 5px 0 0;
}

.hotel-adresse {
  margin: 0 0 15px;
  font: 400 12px Raleway, Roboto, Open Sans, sans-serif;
  opacity: 1;
  font-weight: 300;
}

.week-day-arrival,
.week-day-departure {
  display: inline-block;
  width: 100%;
  font: 400 12px/12px Roboto, Open Sans, sans-serif;
  color: #939393;
  letter-spacing: .3px;
  text-transform: uppercase;
}

.month-day-arrival,
.month-day-departure {
  position: relative;
  display: inline-block;
  font: 400 36px/36px Roboto, Open Sans, sans-serif;
  margin-right: 6px;
}

.year-month-dow-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  font: 500 16px/16px Roboto, Open Sans, sans-serif;
  white-space: nowrap;
}

.update-block__ok {
  position: relative;
  left: 0px;
  bottom: 30px;
  border-radius: 0 4px 4px 0;
  background-color: #42be56;
  width: 95px;
  text-align: center;
  color: white;
  height: 25px;
  font-size: 13px;
  padding-top: 2px;
  display: flex;
}

.detail-reservation-sous-titre {
  font: 500 13px Roboto, Open Sans, sans-serif;
}

.detail-reservation-sous-text {
  font: 400 12px/20px Raleway, Roboto, Open Sans, sans-serif;
  padding-bottom: 10px;
}

.footer-paiement-card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0%;
  padding: 30px;
  background-color: white;
}

.svg-card-paiement {
  padding: 0 2%;
}

.paiement-methods {
  bottom: -20rem;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: 5%;
}

.paiement-card-type-container {
  background-color: white;
}

.info-hotel-titre {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 5px;
}

.info-hotel-text {
  font: 400 12px/22px Raleway, Roboto, Open Sans, sans-serif;
}

.info-hotel-container {
  background-color: white;
  padding: 10px;
  padding-bottom: 35px;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0.3px rgb(0 0 0 / 10%), 0 1px 7px 0.1px rgb(0 0 0 / 4%);
}

#ic_transfer {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  fill: #333;
  color: #333;
}

.price {
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  letter-spacing: 0;
  margin: 2px 10px 0 0;
  font-weight: 500;
}

.cost {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-align: right;
}

.price-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: justify;
  border: none;
  border-radius: 4px;
  background-color: #004a99;
  color: white;
  padding: 10px 10px 5px;
  box-sizing: border-box;
  margin: 0;
  height: 50px;
}

.room-advantage {
  padding: 2px 0 2px 10px;
  list-style-position: inside;
  position: relative;
  vertical-align: middle;
  font: 400 14px Raleway, Roboto, Open Sans, sans-serif;
  color: #333;
  letter-spacing: .4px;
}

.non-remboursable-reservation {
  padding: 2px 0 2px 10px;
  list-style-position: inside;
  position: relative;
  vertical-align: middle;
  font: 600 14px Raleway, Roboto, Open Sans, sans-serif;
  color: #333;
  letter-spacing: .4px;
  margin: 0 0 4px;
}

.petit-dejeuner-room {
  padding: 2px 0 2px 10px;
  list-style-position: inside;
  position: relative;
  vertical-align: middle;
  font: 600 14px Raleway, Roboto, Open Sans, sans-serif;
  color: #42be56;
  letter-spacing: .4px;
  margin: 0 0 4px;
}

.nom-invité-info {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  color: #939393;
  font: 400 12px/24px Raleway, Roboto, Open Sans, sans-serif;
  margin: 0px 10px;
}

.nom-client {
  font: 600 17px/24px Roboto, Open Sans, sans-serif;
  letter-spacing: .5px;
  text-align: left;
  color: #333;
  margin: 0px 10px;
}

.fixe-price-separator {
  font-weight: 700;
  color: #ffbe00;
  font-size: 15px;
  margin: 0 3px;
}

.detail-contact-titre {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ededed;
  font: 600 24px/24px Roboto, Open Sans, sans-serif;
  padding: 15px;
}

.expiration-date-card {
  display: inline-block;
  margin-bottom: 5px;
  font-family: Roboto, Open Sans, sans-serif;
  font-size: 12px;
  letter-spacing: .7px;
  color: #333;
  line-height: normal;
  font-weight: 600;
}

.pay-here {
  display: inline-block;
  font-family: Raleway, Roboto, Open Sans, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  max-width: 450px;
  position: relative;
  padding: 0px 10px;
}

.confirm-reservation-info {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 5px;
  text-align: left;
  padding: 0px 10px;
}

.info-card-credit {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ededed;
  font: 600 24px/24px Roboto, Open Sans, sans-serif;
  padding: 15px;
}