:host {
    background-color: #f4f4f4;
    display: block;
}


.booking__login-or:before {
    content: "";
    position: absolute;
    top: 7px;
    height: 1px;
    width: 40%;
    background-color: #e6e8eb;
}


.my-booking__login-or:after,
.my-booking__login-or:before {
    content: "";
    position: absolute;
    top: 7px;
    height: 1px;
    width: 40%;
    background-color: #e6e8eb;
}


.my-booking__login-or:after,
.my-booking__login-or:before {
    content: "";
    position: absolute;
    top: 7px;
    height: 1px;
    width: 40%;
    background-color: #e6e8eb;
}

.my-booking__login-or {
    position: relative;
    text-align: center;
    margin: 24px 0;
}

.my-booking__login-or:before {
    right: 0;
}

.my-booking__login-or:after {
    left: 0;
}

:host ::ng-deep .mat-form-field-infix {
    padding: 13px 0px;
}













.footer-link {
    font-size: 12px;
    display: block;
    color: #858585;
    fill: #858585;
    // margin-bottom: 10px;
    cursor: pointer;
}

.footer-statistic-number {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 32px;
    line-height: 30px;
    font-weight: 600;
    margin-right: 20px;
    color: black;
    width: 22%;
}

::ng-deep .mat-form-field-infix {
    border-top-width: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.reservation-title {
    margin: 0 0 14px;
    padding: 0 0 15px;
    font: 700 28px/30px Roboto, Open Sans, sans-serif;
    text-align: start;
    color: #333;
}

.reservation-texte {
    margin-bottom: 16px;
    line-height: 24px;
    text-align: left;
    font-size: 14px;
    color: #333;
}

.label-form-reservation {
    display: block;
    font-family: Roboto, Open Sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}

.continue-button {
    background-color: #3587e0;
    box-sizing: border-box;
    -webkit-appearance: none;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    vertical-align: middle;
    height: 38px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: Roboto, Open Sans, Sans-Serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.continue-button :hover {
    background-color: #00579f !important;
    box-sizing: border-box;
    -webkit-appearance: none;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    vertical-align: middle;
    height: 38px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: Roboto, Open Sans, Sans-Serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.my-booking__login-email-btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    display: inline-block;
    border-radius: 3px;
    padding: 0 15px;
    margin: 5px 5%;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    width: 90%;
    color: #2367ba;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .1px;
}

.reservation-card {
    width: 580px;
    margin-top: 3%;
    margin-bottom: 7%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 5px 0.3px rgb(0 0 0 / 10%), 0 1px 7px 0.1px rgb(0 0 0 / 4%);
    min-height: 100px;
    font-size: 14px;
    border-radius: 4px;
    padding-bottom: 2rem;
}

.text-indication-reservation {
    margin: 25px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
}

.my-booking__link {
    color: #2071c9;
    font-weight: 600;
    line-height: 18px;
    outline: 0;
    text-decoration: underline;
    font-size: 12px;
}

.email-icon {
    color: #2367ba;
    margin-left: 5px;
    padding-top: 5px;
    margin-right: 6px;
    font-weight: 500;
}

.my-booking__login-or {
    margin: 15px 5%;
}

.footer-column-title {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: black;
}

.svg-footer {
    width: 16px;
    height: 16px;
    fill: #858585;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 5px;
}

.copyright {
    color: #858585;
    text-align: center;
    display: block;
    line-height: 40px;
    height: 40px;
    background-color: #ededed;
    font-size: 12px;
    box-sizing: border-box;
    font-family: Roboto, Open Sans, sans-serif;
    position: relative;
}

.paypal-svg,
.jcp-svg,
.discover-svg,
.american-express-svg,
.visa-card {
    width: 70px;
    height: 30px;
}

.diners-club-svg,
.maestro-svg,
.mastercard-svg {
    width: 70px;
    height: 40px;
}

.category-link-token {
    position: absolute;
    top: -4px;
    right: -25px;
    border-radius: 7px;
    background-color: #3988df;
    padding: 1px 9px;
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
    height: 12px;
    padding-top: -19px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.sous-titre {
    font-size: 10px;
    text-transform: uppercase;
    color: #858585;
    display: block;
}

.logo-footer-domaine {
    letter-spacing: .5px;
    color: #2367ba;
    cursor: pointer;
    font-size: 32px;
    font-weight: 600
}

.logo-footer-separator {
    color: #c9322c;
    font-size: 32px;
    font-weight: 600;
}

.footer-card {
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    background-color: white;
    position: absolute;
    bottom: -28rem;
    right: 0;
    left: 0;
}

.input-form-parent {
    width: 100%
}

.vex-flex-form-field {
    width: 100%;
}

.reservation-host {
    display: flex;
    flex-direction: column;
}

.footer-links {
    margin-top: 2%;
    padding-top: 1%;

}

.footer-list {
    display: flex;
    justify-content: space-around;
}

.footer-column {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.footer__payment-systems {
    display: flex;
    justify-content: center;
    margin: 3%;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 30px;
    border-top: 1px solid #ededed;
}