.background-home {
    background-image: url('../.././../assets/img/home-back.jpg');
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #fff;
    padding:  61px 56px;
    letter-spacing: .8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}



.img-carousel-cell{
    margin:0px;height:200px;
    background-image: url('../.././../assets/img/Palais-De-LO-photos-Exterior.jpg.crdownload');
    background-size: cover;
    background-repeat: no-repeat;
}
.img-carousel-1{
  margin:0px;height:200px;
  background-image: url('../.././../assets/img/img-carousel-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.img-carousel-2{
  margin:0px;height:200px;
  background-image: url('../.././../assets/img/img-carousel-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.img-carousel-3{
  margin:0px;height:200px;
  background-image: url('../.././../assets/img/img-carousel-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.img-carousel-4{
  margin:0px;height:200px;
  background-image: url('../.././../assets/img/img-carousel-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.img-carousel-5{
  margin:0px;height:200px;
  background-image: url('../.././../assets/img/img-carousel-5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.img-carousel-6{
  margin:0px;height:200px;
  background-image: url('../.././../assets/img/img-carousel-6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.img-carousel-7{
  margin:0px;height:200px;
  background-image: url('../.././../assets/img/img-carousel-7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.img-carousel-8{
  margin:0px;height:200px;
  background-image: url('../.././../assets/img/img-carousel-8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.img-carousel-9{
  margin:0px;height:200px;
  background-image: url('../.././../assets/img/img-carousel-9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.galerie{
  margin:0px;height:200px;
  background-image: url('../.././../assets/img/Palais-De-LO-photos-Exterior.jpg.crdownload');
  background-size: cover;
  background-repeat: no-repeat;
}
.paris{
  margin:0px;
  background-image: url('../.././../assets/img/paris.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height:200px;

}
.londres{
  margin:0px;
  background-image: url('../.././../assets/img/londres.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height:200px;

}
  .barcelone{
    margin:0px;
    background-image: url('../.././../assets/img/barcelone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:200px;
    position: relative;


  }
  .new-york{
    margin:0px;
    background-image: url('../.././../assets/img/new-york.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:200px;
    position: relative;


  }
  .rome{
    margin:0px;
    background-image: url('../.././../assets/img/rome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:200px;
    position: relative;

  }
  .istambul{
    margin:0px;
    background-image: url('../.././../assets/img/istambul.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:200px;
    position: relative;


  }
  .djerba{
    margin:0px;
    background-image: url('../.././../assets/img/djerba.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:200px;
    position: relative;


  }
  .marrakech{
    margin:0px;
    height:200px;
    background-image: url('../.././../assets/img/marrakech.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:200px;
    position: relative;


  }
.france{
  margin:0px;
  height:200px;
  background-image: url('../.././../assets/img/france.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:200px;
  position: relative;
}
.royaume-uni{
  margin:0px;
  height:200px;
  background-image: url('../.././../assets/img/royaume-uni.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:200px;
  position: relative;
}
.espagne{
  margin:0px;
  height:200px;
  background-image: url('../.././../assets/img/espagne.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:200px;
  position: relative;
}
.etat-uni{
  margin:0px;
  height:200px;
  background-image: url('../.././../assets/img/marrakech.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:200px;
  position: relative;
}
.italie{
  margin:0px;
  height:200px;
  background-image: url('../.././../assets/img/italie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:200px;
  position: relative;
}
.maroc{
  margin:0px;
  height:200px;
  background-image: url('../.././../assets/img/maroc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:200px;
  position: relative;
}
.turquie{
  margin:0px;
  height:200px;
  background-image: url('../.././../assets/img/turquie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:200px;
  position: relative;
}
.tunisie{
  margin:0px;
  height:200px;
  background-image: url('../.././../assets/img/tunisie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:200px;
  position: relative;
}
.reste-pays{
  margin:0px;
  height:200px;
  background-image: url('../.././../assets/img/reste-pays.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:200px;
  position: relative;
}
.carousel-home-text {
    color: #fff;
    font: 16px Roboto, Open Sans, sans-serif;
    text-transform: uppercase;
    margin-top: 8px;
    font-size: 1rem;

    
}

.home-title {
    color: white;
    text-align: center;
    padding-top: 5rem;
    font-size: 30px;

}

::ng-deep .carousel-cells .carousel-cell img{
    object-fit: fill !important;
}







:host {
  display: block;
  background-color: #f4f4f4;
 }


:not(spinner-container-french).spinner-container-french {
    position: relative;
    .spinner-background-french {
      position: absolute;
      width: 50px;
      height: 50px;
      line-height: 35px;
      text-align: center;
      overflow: hidden;
      border-color:
        #ffffff;
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
    }
  }
  :host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    .spinner-background-french {
      position: absolute;
      width: inherit;
      height: inherit;
      box-sizing: border-box;
      line-height: inherit;
      text-align: center;
      overflow: hidden;
      border-color: rgba(103, 58, 183, 0.12);
      border-radius: 50%;
      border-style: solid;
      border-width: 10px;
      width: 50px;
      height: 50px;
    }
    .mat-progress-spinner {
      flex: 1 1 80%;
      width: inherit;
      height: inherit;
    }
  }

  

  ::ng-deep .mat-progress-spinner circle {
    stroke-dashoffset: 141.372px;
    stroke-dasharray: 282.743px;
    stroke-width: 5%;
  }


 :host ::ng-deep .mat-progress-spinner svg {
    width: 50px !important;
    height: 50px !important;
  }


  .galerie{
      margin:0px;height:230px;
      background-image: url('../.././../assets/img/Palais-De-LO-photos-Exterior.jpg.crdownload');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      background-position: center;


  }

  .galerie:hover{
    margin:0px;height:230px;
    background-image: url('../.././../assets/img/Palais-De-LO-photos-Exterior.jpg.crdownload');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

    filter:grayscale(100%);

}


.about-us-img{
  margin:0px;height:100% !important;
  background-image: url('../.././../assets/img/Screenshot_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: 50%;

}



::ng-deep .vex-flex-form-field .mat-form-field-infix {
  width: 100%;
}


:host ::ng-deep mat-progress-spinner{
  width: 65px !important;
  height: 50px !important;
}
::ng-deep  .test-carousel .carousel-dots{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 22% !important;
  z-index: 10;
  text-align: center;
}

::ng-deep .test-carousel .carousel-dots .carousel-dot {
  display: inline-block;
  border: 1px solid #3587e0 !important;
  border-radius: 50% !important;
  margin: 4px;
  width: 8px;
  height: 8px;
  background-color: #3587e0;

}

::ng-deep .carousel {
  z-index: 1 !important;
}



.info-icon-area__hint {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 7px 24px 3px rgb(0 0 0 / 13%);
  border-radius: 4px;
  padding: 13px 5px 13px 15px;
  text-align: left;
  width: 312px;
  box-sizing: border-box;
  // opacity: 0;
  top: 93px;
  height: auto;
  left: 45px;
  transition: opacity .2s ease,top .4s ease;
}

.info-icon-area__hint-paiement {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 7px 24px 3px rgb(0 0 0 / 13%);
  border-radius: 4px;
  padding: 13px 5px 13px 15px;
  text-align: left;
  width: 312px;
  box-sizing: border-box;
  // opacity: 0;
  top: 93px;
  height: auto;
  left: 29rem;
  transition: opacity .2s ease,top .4s ease;
}

.info-icon-area__hint-paiement:before {
  content: "";
  background-color: #fff;
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(
45deg);
  position: absolute;
  top: -5px;
  left: 50%;
  margin: 0 auto auto -5px;
}
.info-icon-area__hint:before {
  content: "";
  background-color: #fff;
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(
45deg);
  position: absolute;
  top: -5px;
  left: 50%;
  margin: 0 auto auto -5px;
}

.info-icon-area__hint__desc {
  color: #333;
  display: inline-block;
  font: 12px Roboto,Open Sans,sans-serif;
  line-height: 1.17;
  letter-spacing: .8px;
  margin-top: 6px;
  width: 100%;
  word-wrap: break-word;
}
.info-icon-area__hint__title{
  color: #333;
  font: 700 16px Roboto,Open Sans,sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;}



  .info-icon-area__hint-frais {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 7px 24px 3px rgb(0 0 0 / 13%);
    border-radius: 4px;
    padding: 13px 5px 13px 15px;
    text-align: left;
    width: 312px;
    box-sizing: border-box;
    // opacity: 0;
    top: 93px;
    height: auto;
    left: 55rem;
    transition: opacity .2s ease,top .4s ease;
  }
  
  .info-icon-area__hint-frais:before {
    content: "";
    background-color: #fff;
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(
  45deg);
    position: absolute;
    top: -5px;
    left: 50%;
    margin: 0 auto auto -5px;
  }

  
.info-icon-area__hint__desc-frais {
  color: #333;
  display: inline-block;
  font: 12px Roboto,Open Sans,sans-serif;
  line-height: 1.17;
  letter-spacing: .8px;
  margin-top: 6px;
  width: 100%;
  word-wrap: break-word;
  padding-bottom:10px
}


.icon-home-top-carousel:hover{
background-color: #3988dfcc !important;
}
.icon-home-top-carousel{
  background-color: hsla(0,0%,100%,.45);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto;display: flex;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #939393;;
  font-weight: 500;
  opacity: 1; /* Firefox */
  font-size: 15px;
}













.btn-remove:after {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background-color: #3988df;
}

.btn-add:before, .btn-remove:after {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background-color: #3988df;
}

.btn-add:after {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background-color: #3988df;
}




.add-room-btn:before {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background-color: #3587e0;
}

.add-room-btn:after, .add-room-btn:before{
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background-color: #3587e0;
}
.add-room-btn .add-room-btn:before {
  background-color: #adadad;
}
.add-room-btn:after, .btn-add:after {
  transform: rotate(
90deg);
}


.add-room-btn {
  display: inline-block;
  position: relative;
  height: 34px;
  vertical-align: middle;
}






















.check-input:hover {
  color: #3988df;
  background-color: #eaf3fc;
  border: 1px solid #3988df;
}

.input-text-wrapper {
  display: flex;
  width: 100%;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}


.check-day {
  display: inline-block;
  max-width: 45px;
  min-width:45px;
  font: 400 42px Roboto,Open Sans,sans-serif;
  color: #333;
  margin: 0 5px 0 0;
  text-align: center;
}

.check-month-year-day-wrapper {
  display: inline-block;
  width: calc(100% - 51px);
  vertical-align: top;
  line-height: 0;
  font-size: 0;
  padding: 8px 0 0;
  text-transform: capitalize;
}

.check-month-year-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font: 400 14px Roboto,Open Sans,sans-serif;
  color: #333;
}

.check-month {
  margin: 0 2px 0 0;
}


.check-day-of-week {
  display: inline-block;
  width: 100%;
  font: 500 14px/14px Roboto,Open Sans,sans-serif;
  color: #939393;
  text-transform: capitalize;
}

::ng-deep .md-drppicker{
  bottom:0px !important
}




.check-input {
  line-height: 50px;
  height: 52px;
  padding-right: 14px;
  background: transparent;
  z-index: 12!important;
}


.basic-input {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

::ng-deep .md-drppicker {
  width:100% !important;
  height:100% !important
}




::ng-deep .md-drppicker td.active, .md-drppicker td.active:hover {
  background-color: #3988df !important;
  border-color: transparent;
  color: #fff;
}

::ng-deep .md-drppicker td.in-range {
  background-color: #eaf3fc !important;
  border-color: transparent;
  color: #000;
  border-radius: 0;

}

::ng-deep .md-drppicker{
  display: flex;
  justify-content: center;
}

::ng-deep .md-drppicker.ltr .calendar.left {
  width:100% !important
}

::ng-deep .md-drppicker.ltr .calendar.right{
  width:100% !important
}


::ng-deep   .md-drppicker td.available:hover, .md-drppicker th.available:hover {

    border-radius: 0px;

}
::ng-deep .md-drppicker td.available{
  width: 35px !important;
  height:35px !important
}
::ng-deep .md-drppicker.ltr .calendar.right{
  border-left: 1px solid #dedede;
  margin-top: 0px;
  margin-bottom: 0px;
}

::ng-deep .md-drppicker .calendar tr{
  border-bottom: 1px solid #dedede;
}

::ng-deep .md-drppicker td.available:hover, .md-drppicker th.available:hover{
  background-color: #61a0e5 !important;
  border-color: transparent;
  color: #fff;
  border-radius: 0rem 2rem 2em 0rem;
}

::ng-deep .md-drppicker td.start-date.end-date {
  border-radius: 0rem 2rem 2rem 0rem !important;
  background-color: red;
}

::ng-deep .md-drppicker td.end-date{
  border-radius: 0rem 2rem 2rem 0rem !important;
  background-color: #3988df !important;
}




::ng-deep .md-drppicker td.start-date.end-date ::before {

  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 12px solid #3988df;
  border-bottom: 16px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
  background: #eaf3fc;

}



