::ng-deep .mat-checkbox-frame {
  border-color: #c1c6cc;
  border-radius: 25% !important;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  font-size: 0.8rem;
}




.h-list__header-map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  background-image: url('../../../assets/img/ezgif.com-gif-maker.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
}




:host ::ng-deep .carousel-dots .carousel-dot {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50% !important;
  margin: 4px;
  width: 8px;
  height: 8px;
}




::ng-deep .mat-checkbox-label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #1a232c;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 230px;
}

.reserver-button-recherche-result {
  background-color: #2eb843;
  color: white;
  text-transform: uppercase;
  width: 150px;
  display: block;
  min-height: 32px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  cursor: pointer;
  word-break: break-all;
  word-break: break-word;
  font: 700 14px/20px sans-serif;
  letter-spacing: .4px;
  padding: 5px 0px;
  font-weight: 600;
  margin-top: 15px
}

#room_bed-4,
#room_guests {
  width: 24px;
  height: 24px
}

.voir-chambre {
  background-color: transparent;
  color: #3587e0;
  border: 1px solid #d9dde0;
  transition: border-color .3s;

  min-height: 32px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  word-break: break-all;
  word-break: break-word;
  font: 700 14px/20px sans-serif;
  letter-spacing: .4px;
  padding: 6px 8px;
  margin-top: 10px;

}

.gray-star {
  color: #3587e0;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}

.request-rooms-button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  padding: 5px 24px;
  height: 35px
}



















.check-input {
  line-height: 50px;
  height: 52px;
  padding-right: 14px;
  background: transparent;
  z-index: 12 !important;
}


.basic-input {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

::ng-deep .md-drppicker {
  width: 100% !important;
  height: 100% !important
}




::ng-deep .md-drppicker td.active,
.md-drppicker td.active:hover {
  background-color: #3988df !important;
  border-color: transparent;
  color: #fff;
}

::ng-deep .md-drppicker td.in-range {
  background-color: #eaf3fc !important;
  border-color: transparent;
  color: #000;
  border-radius: 0;

}

::ng-deep .md-drppicker {
  display: flex;
  justify-content: center;
}

::ng-deep .md-drppicker.ltr .calendar.left {
  width: 100% !important
}

::ng-deep .md-drppicker.ltr .calendar.right {
  width: 100% !important
}


::ng-deep .md-drppicker td.available:hover,
.md-drppicker th.available:hover {

  border-radius: 0px;

}

::ng-deep .md-drppicker td.available {
  width: 35px !important;
  height: 35px !important
}

::ng-deep .md-drppicker.ltr .calendar.right {
  border-left: 1px solid #dedede;
  margin-top: 0px;
  margin-bottom: 0px;
}

::ng-deep .md-drppicker .calendar tr {
  border-bottom: 1px solid #dedede;
}

::ng-deep .md-drppicker td.available:hover,
.md-drppicker th.available:hover {
  background-color: #61a0e5 !important;
  border-color: transparent;
  color: #fff;
  border-radius: 0rem 2rem 2em 0rem;
}

::ng-deep .md-drppicker td.start-date.end-date {
  border-radius: 0rem 2rem 2rem 0rem !important;
  background-color: red;
}

::ng-deep .md-drppicker td.end-date {
  border-radius: 0rem 2rem 2rem 0rem !important;
  background-color: #3988df !important;
}




::ng-deep .md-drppicker td.start-date.end-date ::before {

  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 12px solid #3988df;
  border-bottom: 16px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
  background: #eaf3fc;

}











.btn-remove:after {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background-color: #3988df;
}

.btn-add:before,
.btn-remove:after {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background-color: #3988df;
}

.btn-add:after {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background-color: #3988df;
}




.add-room-btn:before {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background-color: #3587e0;
}

.add-room-btn:after,
.add-room-btn:before {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background-color: #3587e0;
}

.add-room-btn .add-room-btn:before {
  background-color: #adadad;
}

.add-room-btn:after,
.btn-add:after {
  transform: rotate(90deg);
}


.add-room-btn {
  display: inline-block;
  position: relative;
  height: 34px;
  vertical-align: middle;
}







.check-input:hover {
  color: #3988df;
  background-color: #eaf3fc;
  border: 1px solid #3988df;
}

.input-text-wrapper {
  display: flex;
  width: 100%;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}


.check-day {
  display: inline-block;
  max-width: 45px;
  min-width: 45px;
  font: 400 40px Roboto, Open Sans, sans-serif;
  color: #333;
  margin: 0 5px 0 0;
  text-align: center;
}

.check-month-year-day-wrapper {
  display: inline-block;
  width: calc(100% - 51px);
  vertical-align: top;
  line-height: 0;
  font-size: 0;
  padding: 8px 0 0;
  text-transform: capitalize;
}

.check-month-year-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font: 400 14px Roboto, Open Sans, sans-serif;
  color: #333;
}

.check-month {
  margin: 0 2px 0 0;
}


.check-day-of-week {
  display: inline-block;
  width: 100%;
  font: 500 14px/14px Roboto, Open Sans, sans-serif;
  color: #939393;
  text-transform: capitalize;
}

::ng-deep .md-drppicker {
  bottom: 0px !important
}




.check-input {
  line-height: 50px;
  height: 52px;
  padding-right: 14px;
  background: transparent;
  z-index: 12 !important;
}


.basic-input {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}